<div class="menu-secondaire g-bg-bleu-ua g-shadow-block-gris-c-ua-md g-px-25 g-pt-40 g-pb-25 g-mr-25--xl">
  <h1>
    <a href="{% url 'universite:index' %}">Université</a>
  </h1>
  <li>
    <div class="list-group g-pl-30--xl g-pl-0--md g-pl-40">
      <a class="g-font-weight-bold--hover g-color-white text-uppercase {% if request.resolver_match.app_name == 'universite:qui-sommes-nous' %} selected {% else %} g-pb-3 {% endif %}" href="{% url 'universite:qui-sommes-nous:nos-missions-et-nos-valeurs' %}">Qui sommes-nous ?</a>
      {% if request.resolver_match.app_name == 'universite:qui-sommes-nous' %}
        <ul class="custom mb-0 g-pb-3">
          <li><a class="g-color-white g-font-weight-bold--hover" href="{% url 'universite:qui-sommes-nous:nos-missions-et-nos-valeurs' %}">Nos missions et nos valeurs</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Historique</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Quelques chiffres</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Fondation</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Comue Angers-Le Mans</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">UA Mag</a></li>
        </ul>
      {% endif %}      
      <a class="g-font-weight-bold--hover g-color-white text-uppercase {% if request.resolver_match.app_name == 'universite:fonctionnement' %} selected {% else %} g-pb-3 {% endif %}" href="{% url 'universite:fonctionnement:organigramme' %}">Fonctionnement</a>
      {% if request.resolver_match.app_name == 'universite:fonctionnement' %}
        <ul class="custom mb-0 g-pb-3">
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Gouvernance</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Instances universitaires</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Services centraux</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Services communs</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Facultés et instituts</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">&Eacute;lections</a></li>
        </ul>
      {% endif %}
      <a class="g-font-weight-bold--hover g-color-white text-uppercase {% if request.resolver_match.app_name == 'universite:strategies-et-grands-projets' %} selected {% else %} g-pb-3 {% endif %}" href="{% url 'universite:strategies-et-grands-projets:index' %}">Stratégies et grands projets</a>
      <a class="g-font-weight-bold--hover g-color-white text-uppercase {% if request.resolver_match.app_name == 'universite:les-chantiers-de-l-ua' %} selected {% else %} g-pb-3 {% endif %}" href="{% url 'universite:les-chantiers-de-l-ua:index' %}">Les chantiers de l'UA</a>
      {% if request.resolver_match.app_name == 'universite:les-chantiers-de-l-ua' %}
        <ul class="custom mb-0 g-pb-3">
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Santé : les travaux se poursuivent</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">LLSH : le bâtiment A va être rénové</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Sciences : les bâtiments A à D vont être réhabilités</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Rénovation fonctionnelle de la BU Belle-Beille</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Extension du bâtiment de Polytech Angers</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Les anciens travaux réalisés</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Résidences étudiantes : début des travaux au 1er semestre 2024</a></li>
        </ul>
      {% endif %}      
      <a class="g-font-weight-bold--hover g-color-white text-uppercase {% if request.resolver_match.app_name == 'universite:travailler-a-l-ua' %} selected {% else %} g-pb-3 {% endif %}" href="{% url 'universite:travailler-a-l-ua:index' %}">Travailler à l'UA</a>
      {% if request.resolver_match.app_name == 'universite:travailler-a-l-ua' %}
        <ul class="custom mb-0 g-pb-3">
          <li><a class="g-color-white g-font-weight-bold--hover" href="{% url 'universite:travailler-a-l-ua:enseignants' %}">Enseignants, enseignants-chercheurs</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Personnels administratifs et techniques</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Chercheur&middot;es et personnels d'appui à la recherche</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">étudiants</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Intervenants extérieurs</a></li>
          <li><a class="g-color-white g-font-weight-bold--hover" href="#">Travailler avec un handicap</a></li>
        </ul>
      {% endif %}
      <a class="g-font-weight-bold--hover g-color-white text-uppercase {% if request.resolver_match.app_name == 'universite:hrs4r' %} selected {% else %} g-pb-3 {% endif %}" href="{% url 'universite:hrs4r:index' %}">HRS4R</a>
    </div>
  </li>
</div>
