{% extends 'layout/master/base.html' %}

{% block title %}
    Index
{% endblock %}

{% block content %}
<a> </a>
<div data-ametys-zone="default" id="ametys-cms-zone-default">
    <div data-ametys-zone-level="0" id="ametys-cms-zone-default-item-N10022" class="first last">
        <div class="ametys-cms-service filtered-contents filtered-contents-abstract carousel-contents wrapper">
            <div data-ride="carousel" class="carousel slide" id="carouselIndicators">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#carouselIndicators" class="active"></li>
                    <li data-slide-to="1" data-target="#carouselIndicators"></li>
                    <li data-slide-to="2" data-target="#carouselIndicators"></li>
                </ol>
                <div class="carousel-inner h-100-lg">
                    <div class="carousel-item active h-100-lg">
                        <div class="correctif-ie11-fit-cover">
                            <img alt="slide" src="https://www.univ-angers.fr/_object/ametys-internal%253Asites/www/ametys-internal%253Acontents/campus-day-2024-actualite/_attribute/illustration/image/carrousel_header_campus_day_1.jpg?objectId=defaultWebContent://b5dd09bf-4dd2-4e8a-bbde-68ba48554ee9" class="d-block w-100 cover-lg" />
                        </div>
                        <div class="carousel-caption">
                            <span class="u-txt-shadow-v3 titre-carousel text-uppercase">Campus Day 2024</span>
                            <p class="d-none d-lg-block text-carousel">La grande fête de la rentrée aura lieu le 19 septembre. Découvrez le programme !</p>
                            <a href="/fr/vie-des-campus/actualites/actus-2024/campus-day-2024.html" class="btn u-btn-link-white" type="button">&gt; Lire la suite</a>
                            <div class="text-center mt-5 g-hidden-sm-down">
                                <a data-target="#content" href="#!"
                                    class="js-go-to g-bg-black-opacity-0_3 rounded-circle p-4">
                                    <img alt="Scroll" src="https://www.univ-angers.fr/skins/UnivAngers-v2/resources/img/fleche-blanc.png" class="return-img" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100-lg">
                        <div class="correctif-ie11-fit-cover">
                            <img alt="slide" src="https://www.univ-angers.fr/_object/ametys-internal%253Asites/www/ametys-internal%253Acontents/dispositif-infocampus-actualite/_attribute/illustration/image/info%20campus%202023.jpg?objectId=defaultWebContent://66b4ebc5-7c40-441a-a65e-76f49d953d60" class="d-block w-100 cover-lg" />
                        </div>
                        <div class="carousel-caption">
                            <span class="u-txt-shadow-v3 titre-carousel text-uppercase">Accueil Infocampus</span>
                            <p class="d-none d-lg-block text-carousel">Vous faites votre première rentrée à l'UA ? Rendez-vous sur les guichets Infocampus du 2 au 27 septembre !</p>
                                <a href="/fr/vie-des-campus/actualites/actus-2024/accueil-infocampus.html" class="btn u-btn-link-white" type="button">&gt; Lire la suite</a>
                            <div class="text-center mt-5 g-hidden-sm-down">
                                <a data-target="#content" href="#!" class="js-go-to g-bg-black-opacity-0_3 rounded-circle p-4">
                                    <img alt="Scroll" src="https://www.univ-angers.fr/skins/UnivAngers-v2/resources/img/fleche-blanc.png" class="return-img" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100-lg">
                        <div class="correctif-ie11-fit-cover">
                            <img alt="slide" src="https://www.univ-angers.fr/_object/ametys-internal%253Asites/www/ametys-internal%253Acontents/contribution-vie-etudiante-cvec-article/_attribute/illustration/image/bandeau-siteweb-Cvec24.jpg?objectId=defaultWebContent://12ed74db-f700-4b3f-b5e1-fb6bcf049412" class="d-block w-100 cover-lg" />
                        </div>
                        <div class="carousel-caption">
                            <span class="u-txt-shadow-v3 titre-carousel text-uppercase">Qu'est-ce que la Cvec ?</span>
                            <p class="d-none d-lg-block text-carousel">Retrouvez le bilan financier et le bilan des actions 2023</p>
                                <a href="/fr/vous-etes/etudiant-e/scolarite/contribution-vie-etudiante-cvec.html" class="btn u-btn-link-white" type="button">&gt; Lire la suite</a>
                            <div class="text-center mt-5 g-hidden-sm-down">
                                <a data-target="#content" href="#!" class="js-go-to g-bg-black-opacity-0_3 rounded-circle p-4">
                                    <img alt="Scroll" src="https://www.univ-angers.fr/skins/UnivAngers-v2/resources/img/fleche-blanc.png" class="return-img" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-5 direct-access" id="content">
    <div class="row g-mx-80--lg flex-space-between-lg pt-4 g-mx-10">
        <div
            class="u-link-menu-ua u-image-choisir-ua g-br-bottom-bleu-ua--hover col col-12 col-lg-auto px-lg-0 px-xl-2 g-pb-15">
            <a href="/fr/formations/etudier-a-l-ua/choisir-l-ua.html">
                <div class="row">
                    <span class="u-image-menu-ua col col-auto px-0 col-lg-12 col-xl-auto"></span>
                    <span class="col my-auto col-lg-12 px-lg-0 text-lg-center col-xl-auto pl-xl-1 pr-xl-3 text-xl-left">Choisir l'UA</span>
                </div>
            </a>
        </div>
        <div
            class="u-link-menu-ua u-image-facultes-institus g-br-bottom-bleu-ua--hover col col-12 col-lg-auto px-lg-0 px-xl-2 g-pb-15">
            <a href="/fr/acces-directs/facultes-et-instituts.html">
                <div class="row">
                    <span class="u-image-menu-ua col col-auto px-0 col-lg-12 col-xl-auto"></span>
                    <span class="col my-auto col-lg-12 px-lg-0 text-lg-center col-xl-auto pl-xl-1 pr-xl-3 text-xl-left">Facultés et instituts</span>
                </div>
            </a>
        </div>
        <div
            class="u-link-menu-ua u-image-intranet g-br-bottom-bleu-ua--hover col col-12 col-lg-auto px-lg-0 px-xl-2 g-pb-15">
            <a href="/fr/acces-directs/mon-universite.html">
                <div class="row">
                    <span class="u-image-menu-ua col col-auto px-0 col-lg-12 col-xl-auto"></span>
                    <span class="col my-auto col-lg-12 px-lg-0 text-lg-center col-xl-auto pl-xl-1 pr-xl-3 text-xl-left">Mon université</span>
                </div>
            </a>
        </div>
        <div
            class="u-link-menu-ua u-image-blibliotheque g-br-bottom-bleu-ua--hover col col-12 col-lg-auto px-lg-0 px-xl-2 g-pb-15">
            <a href="/fr/acces-directs/bibliotheques.html">
                <div class="row">
                    <span class="u-image-menu-ua col col-auto px-0 col-lg-12 col-xl-auto"></span>
                    <span class="col my-auto col-lg-12 px-lg-0 text-lg-center col-xl-auto pl-xl-1 pr-xl-3 text-xl-left">Bibliothèques</span>
                </div>
            </a>
        </div>
        <div
            class="u-link-menu-ua u-image-annuaire g-br-bottom-bleu-ua--hover col col-12 col-lg-auto px-lg-0 px-xl-2 g-pb-15">
            <a href="/fr/acces-directs/annuaire.html">
                <div class="row">
                    <span class="u-image-menu-ua col col-auto px-0 col-lg-12 col-xl-auto"></span>
                    <span class="col my-auto col-lg-12 px-lg-0 text-lg-center col-xl-auto pl-xl-1 pr-xl-3 text-xl-left">Annuaire</span>
                </div>
            </a>
        </div>
        <div
            class="u-link-menu-ua u-image-plans g-br-bottom-bleu-ua--hover col col-12 col-lg-auto px-lg-0 px-xl-2 g-pb-15">
            <a href="/fr/acces-directs/plans.html">
                <div class="row">
                    <span class="u-image-menu-ua col col-auto px-0 col-lg-12 col-xl-auto"></span>
                    <span class="col my-auto col-lg-12 px-lg-0 text-lg-center col-xl-auto pl-xl-1 pr-xl-3 text-xl-left">Plans</span>
                </div>
            </a>
        </div>
        <div
            class="u-link-menu-ua u-image-reseaux g-br-bottom-bleu-ua--hover col col-12 col-lg-auto px-lg-0 px-xl-2 g-pb-15">
            <a href="/fr/acces-directs/vigipirate.html">
                <div class="row">
                    <span class="u-image-menu-ua col col-auto px-0 col-lg-12 col-xl-auto"></span>
                    <span class="col my-auto col-lg-12 px-lg-0 text-lg-center col-xl-auto pl-xl-1 pr-xl-3 text-xl-left">Vigipirate</span>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid g-bg-gris-c-ua g-mt-30 g-pb-40">
    <div data-ametys-zone="news" id="ametys-cms-zone-news">
        <div data-ametys-zone-level="1" id="ametys-cms-zone-news-item-N10285" class="first last">
            <div class="ametys-cms-service filtered-contents filtered-contents-abstract wrapper">
                <div class="d-flex">
                    <div class="g-mt-minus-25 d-inline-flex g-bg-white g-px-17 g-mx-90--md">
                        <h1>actualités de l'UA</h1>
                    </div>
                </div>
                <script type="text/javascript">
                    var pagination_fc_079450824933337 = ['1', '2', '3'];
                </script>
                <div class="row justify-content-center" id="fc_079450824933337-part-1">
                    <div class="col-sm-11 col-lg-4 g-my-40--lg g-my-15 g-px-30--xs g-px-10--lg g-border-right--lg">
                        <div class="ametys-cms-content news view-abstract vevent wrapper">
                            <article class="u-block-hover g-brd-around g-border-top--sm">
                                <figure class="g-pos-rel">
                                    <img alt="" src="https://www.univ-angers.fr/_object/ametys-internal%253Asites/www/ametys-internal%253Acontents/atlantic-sunset-actualite/_attribute/illustration/image/andreas-slotosch--cZao2CDG_Q-unsplash_800.jpg?objectId=defaultWebContent://c1079a11-ca45-4936-b2f3-14b1df2dd2bf" class="img-fluid w-100" />
                                </figure>
                                <div class="u-block-hover__additional--partially-slide-up g-bg-white g-z-index-1">
                                    <div class="u-block-hover__visible g-pa-20 g-bg-gris-c-ua">
                                        <h4 class="g-line-height-0_9 g-font-ua-poppins-regular">
                                            <a href="/fr/recherche/actualites/actus-2024/atlantic-sunset.html" class="u-link-v5 g-color-black g-font-size-18">
                                                Comment les couchers de soleil sont-ils valorisés ?</a></h4>
                                        <div class="g-color-bleu-ua">
                                            <p class="content-date"></p>
                                        </div>
                                    </div>
                                    <ul
                                        class="d-flex list-inline g-brd-top g-brd-gray-light-v4 g-pos-rel g-z-index-1 g-px-20 g-py-10 mb-0 g-bg-gris-c-ua">
                                        <li class="g-mb-0">
                                            Des enseignants-chercheurs de l'<dfn title="Université d'Angers">UA</dfn> participent au programme de recherche européen Atlantic Sunset, qui porte sur les couchers de soleil et la manière dont ils sont valorisés par les acteurs publics ou privés.
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-11 col-lg-4 g-my-40--lg g-my-15 g-px-30--xs g-px-10--lg g-border-right--lg">
                        <div class="ametys-cms-content news view-abstract vevent wrapper">
                            <article class="u-block-hover g-brd-around g-border-top--sm">
                                <figure class="g-pos-rel">
                                    <img alt="" src="https://www.univ-angers.fr/_object/ametys-internal%253Asites/www/ametys-internal%253Acontents/etudiants-et-personnels-de-l-ua-racontent-leurs-jo-actualite/_attribute/illustration/image/carr%C3%A9%20JO-min.jpeg?objectId=defaultWebContent://2d463cee-0f89-40fb-bb76-233adc616784" class="img-fluid w-100" />
                                </figure>
                                <div class="u-block-hover__additional--partially-slide-up g-bg-white g-z-index-1">
                                    <div class="u-block-hover__visible g-pa-20 g-bg-gris-c-ua">
                                        <h4 class="g-line-height-0_9 g-font-ua-poppins-regular">
                                            <a href="/fr/universite/actualites/actus-2024/etudiants-et-personnels-de-l-ua-racontent-leurs-jo.html" class="u-link-v5 g-color-black g-font-size-18">
                                                étudiants et personnels de l'UA racontent « leurs » JO</a></h4>
                                        <div class="g-color-bleu-ua">
                                            <p class="content-date"></p>
                                        </div>
                                    </div>
                                    <ul
                                        class="d-flex list-inline g-brd-top g-brd-gray-light-v4 g-pos-rel g-z-index-1 g-px-20 g-py-10 mb-0 g-bg-gris-c-ua">
                                        <li class="g-mb-0">
                                            Plusieurs étudiant∙es et personnels de l'Université d'Angers ont pris part, de près ou de loin, aux Jeux olympiques de Paris cet été. Témoignages.</li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-11 col-lg-4 g-my-40--lg g-my-15 g-px-30--xs g-px-10--lg g-border-right--lg">
                        <div class="ametys-cms-content news view-abstract vevent wrapper">
                            <article class="u-block-hover g-brd-around g-border-top--sm">
                                <figure class="g-pos-rel">
                                    <img alt="" src="https://www.univ-angers.fr/_object/ametys-internal%253Asites/www/ametys-internal%253Acontents/nuit-des-chercheurs-2024-actualite/_attribute/illustration/image/NDC_700.jpg?objectId=defaultWebContent://690391f1-1044-425d-a4f3-99f6b06f253d" class="img-fluid w-100" />
                                </figure>
                                <div class="u-block-hover__additional--partially-slide-up g-bg-white g-z-index-1">
                                    <div class="u-block-hover__visible g-pa-20 g-bg-gris-c-ua">
                                        <h4 class="g-line-height-0_9 g-font-ua-poppins-regular">
                                          <a href="/fr/recherche/actualites/actus-2024/nuit-des-chercheurs-2024.html" class="u-link-v5 g-color-black g-font-size-18">
                                            Nouveau tour de piste pour la Nuit des chercheur&middot;es</a></h4>
                                        <div class="g-color-bleu-ua">
                                            <p class="content-date">
                                              Le <abbr class="dtstart"><span title="2024-09-27T16:00:00.000Z" class="value-title"></span>27 septembre 2024</abbr>
                                            </p>
                                        </div>
                                    </div>
                                    <ul class="d-flex list-inline g-brd-top g-brd-gray-light-v4 g-pos-rel g-z-index-1 g-px-20 g-py-10 mb-0 g-bg-gris-c-ua">
                                        <li class="g-mb-0">
                                          La 20e édition de la Nuit des chercheur&middot;es à Angers aura lieu le vendredi 27 septembre, à la <dfn title="Bibliothèque universitaire">BU</dfn> Belle-Beille. Au programme : des animations, des jeux, des mini-conférences et beaucoup d'échanges entre le public et les scientifiques.
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <script type="text/javascript"></script>
                <div class="row justify-content-center" id="fc_079450824933337-part-2">
                    <div class="col-sm-11 col-lg-4 g-my-40--lg g-my-15 g-px-30--xs g-px-10--lg g-border-right--lg">
                        <div class="ametys-cms-content news view-abstract vevent wrapper">
                            <article class="u-block-hover g-brd-around g-border-top--sm">
                                <figure class="g-pos-rel">
                                    <img alt="" src="https://www.univ-angers.fr/_object/ametys-internal%253Asites/www/ametys-internal%253Acontents/cedric-annweiler-nouveau-doyen-de-la-faculte-de-sante-actualite/_attribute/illustration/image/carr%C3%A9%20c%C3%A9dric.jpg?objectId=defaultWebContent://718e870c-22ba-45ec-ac9c-59d4c2179417" class="img-fluid w-100" />
                                </figure>
                                <div class="u-block-hover__additional--partially-slide-up g-bg-white g-z-index-1">
                                    <div class="u-block-hover__visible g-pa-20 g-bg-gris-c-ua">
                                        <h4 class="g-line-height-0_9 g-font-ua-poppins-regular">
                                          <a href="/fr/universite/actualites/actus-2024/cedric-annweiler-nouveau-doyen-de-la-faculte-de-sante.html" class="u-link-v5 g-color-black g-font-size-18">
                                            Cédric Annweiler, nouveau doyen de la Faculté de santé</a></h4>
                                        <div class="g-color-bleu-ua">
                                            <p class="content-date"></p>
                                        </div>
                                    </div>
                                    <ul class="d-flex list-inline g-brd-top g-brd-gray-light-v4 g-pos-rel g-z-index-1 g-px-20 g-py-10 mb-0 g-bg-gris-c-ua">
                                        <li class="g-mb-0"></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-11 col-lg-4 g-my-40--lg g-my-15 g-px-30--xs g-px-10--lg g-border-right--lg">
                        <div class="ametys-cms-content news view-abstract vevent wrapper">
                            <article class="u-block-hover g-brd-around g-border-top--sm">
                                <figure class="g-pos-rel">
                                    <img alt="" src="https://www.univ-angers.fr/_object/ametys-internal%253Asites/www/ametys-internal%253Acontents/bourse-andurand-actualite/_attribute/illustration/image/Carre_Decl_Fondation_Andurand3.jpg?objectId=defaultWebContent://d2089a0b-eb3e-49a1-84d3-22062d5074e6" class="img-fluid w-100" />
                                </figure>
                                <div class="u-block-hover__additional--partially-slide-up g-bg-white g-z-index-1">
                                    <div class="u-block-hover__visible g-pa-20 g-bg-gris-c-ua">
                                        <h4 class="g-line-height-0_9 g-font-ua-poppins-regular">
                                          <a href="/fr/universite/actualites/actus-2024/bourse-andurand.html" class="u-link-v5 g-color-black g-font-size-18">
                                              25 bourses pour favoriser les carrières scientifiques au féminin</a></h4>
                                        <div class="g-color-bleu-ua">
                                            <p class="content-date"></p>
                                        </div>
                                    </div>
                                    <ul class="d-flex list-inline g-brd-top g-brd-gray-light-v4 g-pos-rel g-z-index-1 g-px-20 g-py-10 mb-0 g-bg-gris-c-ua">
                                        <li class="g-mb-0">
                                            En cette rentrée, la Fondation <dfn title="Université d'Angers">UA</dfn> soutenue par le Fonds Andurand lance une série de bourse de 1000 euros pour encourager les jeunes femmes inscrites à l'<dfn title="Université d'Angers">UA</dfn> à poursuivre leurs études et carrière dans le domaine des sciences. 3 questions à Clémence Guillemont déléguée de la fondation <dfn title="Université d'Angers">UA</dfn>.
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-11 col-lg-4 g-my-40--lg g-my-15 g-px-30--xs g-px-10--lg g-border-right--lg">
                        <div class="ametys-cms-content news view-abstract vevent wrapper">
                            <article class="u-block-hover g-brd-around g-border-top--sm">
                                <figure class="g-pos-rel">
                                    <img alt="" src="https://www.univ-angers.fr/_object/ametys-internal%253Asites/www/ametys-internal%253Acontents/student-council-eu-green-actualite/_attribute/illustration/image/IMG_2759-Enhanced-NR%20carr%C3%A9%20basse%20def.jpg?objectId=defaultWebContent://5a520c61-86ce-43af-9dae-cb388483c3a3" class="img-fluid w-100" />
                                </figure>
                                <div class="u-block-hover__additional--partially-slide-up g-bg-white g-z-index-1">
                                    <div class="u-block-hover__visible g-pa-20 g-bg-gris-c-ua">
                                        <h4 class="g-line-height-0_9 g-font-ua-poppins-regular">
                                          <a href="/fr/international/actualites/a2024/student-council-eu-green.html" class="u-link-v5 g-color-black g-font-size-18">
                                                Le Student Council : la voix étudiante d'EU Green</a></h4>
                                        <div class="g-color-bleu-ua">
                                            <p class="content-date"></p>
                                        </div>
                                    </div>
                                    <ul class="d-flex list-inline g-brd-top g-brd-gray-light-v4 g-pos-rel g-z-index-1 g-px-20 g-py-10 mb-0 g-bg-gris-c-ua">
                                        <li class="g-mb-0">
                                            L'engagement des étudiant&middot;es est au coeur de l'alliance européenne EU Green. Quatre étudiant&middot;es de l'<dfn title="Université d'Angers">UA</dfn> ont rejoint le Student Council d'EU Green, un conseil créé pour représenter les intérêts de la communauté étudiante au sein de l'alliance.
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    document.getElementById('fc_079450824933337-part-2').style.display = 'none';
                </script>
                <div class="row justify-content-center" id="fc_079450824933337-part-3">
                    <div class="col-sm-11 col-lg-4 g-my-40--lg g-my-15 g-px-30--xs g-px-10--lg g-border-right--lg">
                        <div class="ametys-cms-content news view-abstract vevent wrapper">
                            <article class="u-block-hover g-brd-around g-border-top--sm">
                                <figure class="g-pos-rel">
                                    <img alt="" src="https://www.univ-angers.fr/_object/ametys-internal%253Asites/www/ametys-internal%253Acontents/un-nouveau-prix-litteraire-pour-alexandre-seurat-actualite/_attribute/illustration/image/carr%C3%A9%20seurat.jpg?objectId=defaultWebContent://d7567a45-9cd1-4d36-a135-9019a96f5e7c" class="img-fluid w-100" />
                                </figure>
                                <div class="u-block-hover__additional--partially-slide-up g-bg-white g-z-index-1">
                                    <div class="u-block-hover__visible g-pa-20 g-bg-gris-c-ua">
                                        <h4 class="g-line-height-0_9 g-font-ua-poppins-regular">
                                          <a href="/fr/formations/actualites/actus-2024/un-nouveau-prix-litteraire-pour-alexandre-seurat.html" class="u-link-v5 g-color-black g-font-size-18">
                                                Un nouveau prix littéraire pour Alexandre Seurat</a></h4>
                                        <div class="g-color-bleu-ua">
                                            <p class="content-date"></p>
                                        </div>
                                    </div>
                                    <ul class="d-flex list-inline g-brd-top g-brd-gray-light-v4 g-pos-rel g-z-index-1 g-px-20 g-py-10 mb-0 g-bg-gris-c-ua">
                                        <li class="g-mb-0">
                                            Professeur en lettres modernes à l'<dfn title="Institut universitaire de technologie">IUT</dfn> Angers-Cholet, Alexandre Seurat a reçu cet été le prix Notre-Dame de Sion pour son roman La Maladroite. Publié en 2015, il vient d'être traduit en turc.
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-11 col-lg-4 g-my-40--lg g-my-15 g-px-30--xs g-px-10--lg g-border-right--lg">
                        <div class="ametys-cms-content news view-abstract vevent wrapper">
                            <article class="u-block-hover g-brd-around g-border-top--sm">
                                <figure class="g-pos-rel">
                                    <img alt="" src="https://www.univ-angers.fr/_object/ametys-internal%253Asites/www/ametys-internal%253Acontents/un-projet-de-recherche-ambitieux-pour-attirer-des-doctorants-actualite/_attribute/illustration/image/carr%C3%A9%20Breath.jpg?objectId=defaultWebContent://fa1e5780-17ff-4a6e-98aa-393db2d48e99" class="img-fluid w-100" />
                                </figure>
                                <div class="u-block-hover__additional--partially-slide-up g-bg-white g-z-index-1">
                                    <div class="u-block-hover__visible g-pa-20 g-bg-gris-c-ua">
                                        <h4 class="g-line-height-0_9 g-font-ua-poppins-regular">
                                          <a href="/fr/recherche/actualites/actus-2024/un-programme-europeen-ambitieux-pour-attirer-des-doctorants.html" class="u-link-v5 g-color-black g-font-size-18">
                                                Un programme européen ambitieux pour attirer des doctorants</a></h4>
                                        <div class="g-color-bleu-ua">
                                            <p class="content-date"></p>
                                        </div>
                                    </div>
                                    <ul class="d-flex list-inline g-brd-top g-brd-gray-light-v4 g-pos-rel g-z-index-1 g-px-20 g-py-10 mb-0 g-bg-gris-c-ua">
                                        <li class="g-mb-0">Soutenu par la Commission européenne, le projet de recherche Breath cofinance un programme doctoral à l'interface des sciences humaines et sociales (SHS) et des disciplines de santé pour vingt jeunes chercheur∙es des Universités d'Angers, de Nantes, et du Mans. Le projet débutera en septembre 2025. </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-11 col-lg-4 g-my-40--lg g-my-15 g-px-30--xs g-px-10--lg g-border-right--lg">
                        <div class="ametys-cms-content news view-abstract vevent wrapper">
                            <article class="u-block-hover g-brd-around g-border-top--sm">
                                <figure class="g-pos-rel">
                                    <img alt="" src="https://www.univ-angers.fr/_object/ametys-internal%253Asites/www/ametys-internal%253Acontents/iuf-quatre-enseignants-chercheurs-de-l-ua-nommes-actualite/_attribute/illustration/image/carr%C3%A9%20Lu.jpg?objectId=defaultWebContent://81d3bb6d-f9a6-46b6-81f5-754912f8958f" class="img-fluid w-100" />
                                </figure>
                                <div class="u-block-hover__additional--partially-slide-up g-bg-white g-z-index-1">
                                    <div class="u-block-hover__visible g-pa-20 g-bg-gris-c-ua">
                                        <h4 class="g-line-height-0_9 g-font-ua-poppins-regular">
                                          <a href="/fr/recherche/actualites/actus-2024/iuf-quatre-enseignants-chercheurs-de-l-ua-nommes.html" class="u-link-v5 g-color-black g-font-size-18">
                                                IUF : quatre enseignants-chercheurs de l'UA nommés</a></h4>
                                        <div class="g-color-bleu-ua">
                                            <p class="content-date"></p>
                                        </div>
                                    </div>
                                    <ul
                                        class="d-flex list-inline g-brd-top g-brd-gray-light-v4 g-pos-rel g-z-index-1 g-px-20 g-py-10 mb-0 g-bg-gris-c-ua">
                                        <li class="g-mb-0">Marie Lezowski, Hoang-Chinh Lu, Nahema Hanafi et Aude Nuscia Ta&iuml;bi figurent parmi les lauréat∙es de la campagne 2024 de l'Institut universitaire de France (IUF). Rencontres.</li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    document.getElementById('fc_079450824933337-part-3').style.display = 'none';
                </script>
                <div class="position-relative g-mx-80--lg">
                    <div class="text-center pages">
                        <script type="text/javascript">
                            pagination_fc_079450824933337_current = 0;
                            var paginationLength = pagination_fc_079450824933337.length;
                            if (paginationLength > 1) {
                                document.write(`
                                    <nav class="pages" aria-label="Page Navigation">
                                      <ul class="list-inline">
                                        <li class="list-inline-item precede" id="content_filter_prev_4531950091361009fc_079450824933337" style="display: none;"><input class="u-pagination-v1__item u-pagination-ua g-pa-12-19" type="submit" onclick="try { show_fc_079450824933337('prev'); } catch(e) {} return false;" value="<"/></li>
                                `);

                                var firstLastCls = '';
                                for (var i = 0; i < paginationLength; i++) {
                                    firstLastCls = i == 0 ? 'first' : (i == paginationLength - 1 ? 'last' : '');
                                    let liId = "content_filter_4531950091361009fc_079450824933337" + i;
                                   
                                    document.write( `
                                      <li id="${liId}_button" style="display: ${i == 0 ? 'none' : ''}" class="list-inline-item ${firstLastCls ?? ''}">
                                        <input class="u-pagination-v1__item u-pagination-ua g-pa-12-19" type="submit" onclick="try { show_fc_079450824933337(${i}); } catch(e) {} return false;" value="${i + 1}"/></li>
                                      <li id="${liId}" style="display: ${i != 0 ? 'none' : ''}" class="list-inline-item current ${firstLastCls ?? ''}">
                                        <span class="u-pagination-v1__item u-pagination-ua g-pa-12-19 current">${i + 1}</span></li>
                                    `);
                                }
                                document.write(
                                    "<li id='content_filter_next_4531950091361009fc_079450824933337' class='list-inline-item next'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19' type='submit' onclick='try { show_fc_079450824933337(\"next\"); } catch(e) {} return false;' value='>'/></li></ul></nav><div style='clear: both;'></div>"
                                );

                                try {
                                    show_fc_079450824933337_buttonsid
                                } catch (e) {
                                    show_fc_079450824933337_buttonsid = [];
                                }

                                show_fc_079450824933337_buttonsid.push("4531950091361009")

                                function show_fc_079450824933337(count) {
                                    if (count == 'next') {
                                        count = pagination_fc_079450824933337_current + 1;
                                    } else if (count == 'prev') {
                                        count = pagination_fc_079450824933337_current - 1;
                                    }

                                    pagination_fc_079450824933337_current = count;

                                    for (const element of show_fc_079450824933337_buttonsid) {
                                        var id = element

                                        for (var i = 0; i < pagination_fc_079450824933337.length; i++) {
                                            if (i == count) {
                                                document.getElementById('fc_079450824933337-part-' + pagination_fc_079450824933337[i]).style.display = "";
                                                document.getElementById('content_filter_' + id + 'fc_079450824933337' + i + '_button').style.display = "none";
                                                document.getElementById('content_filter_' + id + 'fc_079450824933337' + i).style.display = "";
                                            } else {
                                                document.getElementById('fc_079450824933337-part-' + pagination_fc_079450824933337[i]).style.display = "none";
                                                document.getElementById('content_filter_' + id + 'fc_079450824933337' + i + '_button').style.display = "";
                                                document.getElementById('content_filter_' + id + 'fc_079450824933337' + i).style.display = "none";
                                            }
                                        }

                                        document.getElementById("content_filter_prev_" + id + "fc_079450824933337").style.display = pagination_fc_079450824933337_current == "0" ? 'none' : '';
                                        document.getElementById("content_filter_next_" + id + "fc_079450824933337").style.display = pagination_fc_079450824933337_current == (pagination_fc_079450824933337.length - 1) ? 'none' : '';
                                    }

                                    // onPaginationShow hook.
                                    if ($j.isFunction(onPaginationShow_fc_079450824933337)) {
                                        onPaginationShow_fc_079450824933337(count + 1);
                                    }
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center g-mx-80--lg g-mb-50">
        <div class="col-xl-4 col-md-6 g-pt-50 g-px-10--lg">
            <div class="g-bg-bleu-ua-accueil h-100">
                <div class="d-flex">
                    <div class="g-mt-minus-25 d-inline-flex g-bg-white g-px-17 g-mx-30 mb-3">
                        <h1 class="">trouver sa formation</h1>
                    </div>
                </div>
                <a href="/fr/index/trouver-sa-formation.html" class="u-block-hover">
                  <img alt="" src="https://www.univ-angers.fr/skins/UnivAngers-v2/resources/img/picto-blanc-formation.png" class="img-fluid g-height-200 d-block mx-auto g-my-50 u-block-hover__main--zoom-v1" /></a>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 g-pt-50 g-px-10--lg">
            <div class="g-bg-gris-f-ua-accueil h-100">
                <div class="d-flex">
                    <div class="g-mt-minus-25 d-inline-flex g-bg-white g-px-17 g-mx-30 mb-3">
                        <h1 class="">la recherche à l'UA</h1>
                    </div>
                </div>
                <a href="/fr/index/la-recherche-a-l-ua.html" class="u-block-hover">
                  <img alt="" src="https://www.univ-angers.fr/skins/UnivAngers-v2/resources/img/picto-blanc-recherche.png" class="img-fluid g-height-200 d-block mx-auto g-my-50 u-block-hover__main--zoom-v1" /></a>
            </div>
        </div>
        <div class="col-xl-4 col-md-12 g-pt-50 g-px-10--lg">
            <div class="g-bg-gris-f2-ua h-100 g-font-ua-poppins-semibold">
                <div data-ametys-zone="right" id="ametys-cms-zone-right">
                    <div data-ametys-zone-level="1" id="ametys-cms-zone-right-item-N101A1" class="first last">
                        <div class="ametys-cms-service filtered-contents filtered-contents-link wrapper">
                            <div class="d-flex">
                                <div class="g-mt-minus-25 d-inline-flex g-bg-white g-px-17 g-mx-30 mb-3">
                                    <h1>agenda</h1>
                                    <div class="rss floatright">
                                        <a href="/_plugins/web/zoneItem/79f491e7-d59f-4d51-b973-e93343a9ffc5/rss.xml">
                                          <img alt="Voir le flux RSS de ces contenus" src="https://www.univ-angers.fr/skins/UnivAngers-v2/resources/img/picto_bleu_rss.png" /></a>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                var pagination_fc_17246829539920172 = ['1'];
                            </script>
                            <div class="g-mb-30" id="fc_17246829539920172-part-1">
                                <div
                                    class="d-flex flex-row bd-highlight mx-3 g-border-bottom-gris-f2-ua g-bg-white--hover g-pt-5">
                                    <div class="px-3 bd-highlight">
                                        <span class="g-color-bleu-ua g-font-size-26 g-line-height-1">16</span>
                                        <span class="d-block g-font-size-11">sept.</span>
                                        <span class="d-block g-font-size-11">2024</span>
                                    </div>
                                    <div class="bd-highlight">
                                        <h4 class="mb-1 g-font-size-12 g-color-black text-uppercase">
                                          <a class="url" href="/fr/recherche/etudes-doctorales-et-hdr/habilitation-a-diriger-des-recherches/les-soutenances-hdr/antoine-goujon.html">Soutenance HDR de Monsieur Antoine GOUJON</a></h4>
                                        <p class="g-font-size-10-5 g-font-ua-poppins-regular g-line-height-1">
                                            14h00 | Faculté des Sciences | Bâtiment L | Amphi L006 | 2, boulevard Lavoisier | ANGERS<br />
                                            Sujet : Light-Frozen Dynamic Covalent Synthesis of Organic Semiconducting Materials
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex flex-row bd-highlight mx-3 g-border-bottom-gris-f2-ua g-bg-white--hover g-pt-5">
                                    <div class="px-3 bd-highlight">
                                        <span class="g-color-bleu-ua g-font-size-26 g-line-height-1">19</span>
                                        <span class="d-block g-font-size-11">sept.</span>
                                        <span class="d-block g-font-size-11">2024</span>
                                    </div>
                                    <div class="bd-highlight">
                                        <h4 class="mb-1 g-font-size-12 g-color-black text-uppercase">
                                          <a class="url" href="/fr/vie-des-campus/actualites/actus-2024/exposition-zone-blanche.html">Exposition "Zone blanche"</a></h4>
                                        <p class="g-font-size-10-5 g-font-ua-poppins-regular g-line-height-1">
                                            La galerie 5 accueille une nouvelle exposition : ZONE BLANCHE « Jeunes designers » du jeudi 19 septembre...<br />
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="d-flex flex-row bd-highlight mx-3 g-border-bottom-gris-f2-ua g-bg-white--hover g-pt-5">
                                    <div class="px-3 bd-highlight">
                                        <span class="g-color-bleu-ua g-font-size-26 g-line-height-1">19</span>
                                        <span class="d-block g-font-size-11">sept.</span>
                                        <span class="d-block g-font-size-11">2024</span>
                                    </div>
                                    <div class="bd-highlight">
                                        <h4 class="mb-1 g-font-size-12 g-color-black text-uppercase">
                                          <a class="url" href="/fr/vie-des-campus/actualites/actus-2024/campus-day-2024.html">Campus Day 2024</a></h4>
                                        <p class="g-font-size-10-5 g-font-ua-poppins-regular g-line-height-1">La grande fête de la rentrée aura lieu le 19 septembre. Découvrez le programme !</p>
                                    </div>
                                </div>
                                <div
                                    class="d-flex flex-row bd-highlight mx-3 g-border-bottom-gris-f2-ua g-bg-white--hover g-pt-5">
                                    <div class="px-3 bd-highlight">
                                        <span class="g-color-bleu-ua g-font-size-26 g-line-height-1">20</span>
                                        <span class="d-block g-font-size-11">sept.</span>
                                        <span class="d-block g-font-size-11">2024</span>
                                    </div>
                                    <div class="bd-highlight">
                                        <h4 class="mb-1 g-font-size-12 g-color-black text-uppercase">
                                          <a class="url" href="/fr/recherche/etudes-doctorales-et-hdr/soutenir-sa-these/les-soutenances/aya-hage-chehade.html">
                                            Soutenance de thèse de Madame Aya HAGE CHEHADE</a></h4>
                                        <p class="g-font-size-10-5 g-font-ua-poppins-regular g-line-height-1">
                                            14h00 | UCO Angers | Amphi FAUVEL | Bâtiment Pôle Scientifique | 44, rue Rabelais | 49000 ANGERS<br />
                                            Sujet : Détection et classification multi-label de maladies pulmonaires par apprentissage automatique à partir d'images de radiographie thoracique<br />
                                            Directeur de thèse : Monsieur Pierre CHAUVET
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript"></script>
                            <div class="">
                                <div class="text-md-right text-center">
                                    <script type="text/javascript">
                                        pagination_fc_17246829539920172_current = 0;
                                        var paginationLength = pagination_fc_17246829539920172.length;
                                        if (paginationLength > 1) {
                                            document.write(
                                                "<nav class='pages' aria-label='Page Navigation'><ul class='list-inline'><li class='list-inline-item precede' id='content_filter_prev_2542547959736663fc_17246829539920172' style='display: none;'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19 ' type='submit' onclick='try { show_fc_17246829539920172(\"prev\"); } catch(e) {} return false;' value='<'/></li>"
                                            );

                                            var firstLastCls = '';
                                            for (var i = 0; i < paginationLength; i++) {
                                                firstLastCls = i == 0 ? 'first' : (i == paginationLength - 1 ? 'last' : '');
                                                document.write("<li id='content_filter_2542547959736663fc_17246829539920172" + i +
                                                    "_button' style='display: " + (i == 0 ? 'none' : '') + (firstLastCls ? (
                                                        "' class='list-inline-item " + firstLastCls + "'") : "' class='list-inline-item'") +
                                                    "'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19' type='submit' onclick='try { show_fc_17246829539920172(" +
                                                    i + "); } catch(e) {} return false;' value='" + (i + 1) + "'/></li>");
                                                document.write("<li id='content_filter_2542547959736663fc_17246829539920172" + i + "' style='display: " + (
                                                        i != 0 ? 'none' : '') + "' class='list-inline-item current" + (firstLastCls ? (' ' +
                                                        firstLastCls) : '') +
                                                    "'><span class='u-pagination-v1__item u-pagination-ua g-pa-12-19 current'>" + (i + 1) +
                                                    "</span></li>");
                                            }
                                            document.write(
                                                "<li id='content_filter_next_2542547959736663fc_17246829539920172' class='list-inline-item next'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19' type='submit' onclick='try { show_fc_17246829539920172(\"next\"); } catch(e) {} return false;' value='>'/></li></ul></nav><div style='clear: both;'></div>"
                                            );

                                            try {
                                                show_fc_17246829539920172_buttonsid
                                            } catch (e) {
                                                show_fc_17246829539920172_buttonsid = [];
                                            }

                                            show_fc_17246829539920172_buttonsid.push("2542547959736663")

                                            function show_fc_17246829539920172(count) {
                                                if (count == 'next') {
                                                    count = pagination_fc_17246829539920172_current + 1;
                                                } else if (count == 'prev') {
                                                    count = pagination_fc_17246829539920172_current - 1;
                                                }

                                                pagination_fc_17246829539920172_current = count;

                                                for (var idindex = 0; idindex < show_fc_17246829539920172_buttonsid.length; idindex++) {
                                                    var id = show_fc_17246829539920172_buttonsid[idindex];

                                                    for (var i = 0; i < pagination_fc_17246829539920172.length; i++) {
                                                        if (i == count) {
                                                            document.getElementById('fc_17246829539920172-part-' + pagination_fc_17246829539920172[i]).style.display = "";
                                                            document.getElementById('content_filter_' + id + 'fc_17246829539920172' + i + '_button').style.display = "none";
                                                            document.getElementById('content_filter_' + id + 'fc_17246829539920172' + i).style.display = "";
                                                        } else {
                                                            document.getElementById('fc_17246829539920172-part-' + pagination_fc_17246829539920172[i]).style.display = "none";
                                                            document.getElementById('content_filter_' + id + 'fc_17246829539920172' + i + '_button').style.display = "";
                                                            document.getElementById('content_filter_' + id + 'fc_17246829539920172' + i).style.display = "none";
                                                        }
                                                    }

                                                    document.getElementById("content_filter_prev_" + id + "fc_17246829539920172").style.display = (
                                                        pagination_fc_17246829539920172_current == "0" ? 'none' : '');
                                                    document.getElementById("content_filter_next_" + id + "fc_17246829539920172").style.display = (
                                                        pagination_fc_17246829539920172_current == (pagination_fc_17246829539920172.length - 1) ?
                                                        'none' : '');
                                                }

                                                // onPaginationShow hook.
                                                if ($j.isFunction(onPaginationShow_fc_17246829539920172)) {
                                                    onPaginationShow_fc_17246829539920172(count + 1);
                                                }
                                            }
                                        }
                                    </script>
                                    <div class="">
                                        <a href="/fr/index/agenda.html" class="btn know-more m-3 text-lg-right g-font-ua-poppins-regular">&gt; Voir tous les événements à venir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ametys-zone="bottom" id="ametys-cms-zone-bottom">
    <div data-ametys-zone-level="2" id="ametys-cms-zone-bottom-item-N100C2" class="first last">
        <div class="ametys-cms-content article view-main wrapper">
            <h2 class="art-postheader"><span class="content-title summary"> </span></h2>
            <div>
                <div class="row text-center g-mx-80--lg">
                    <div class="col-md-3 col-6 g-mb-50">
                        <img class="display-5 g-mb-25" src="" alt="" />
                        <div class="js-counter display-5 g-mb-20 g-color-bleu-ua g-font-size-36">26295</div>
                        <span class="g-font-size-15">étudiant.e.s</span>
                    </div>
                    <div class="col-md-3 col-6 g-mb-50">
                        <img class="display-5 g-mb-25" src="" alt="" />
                        <div class="js-counter display-5 g-mb-20 g-color-bleu-ua g-font-size-36">14000</div>
                        <span class="g-font-size-15">documents consultables en open access</span>
                    </div>
                    <div class="col-md-3 col-6 g-mb-50">
                        <img class="display-5 g-mb-25" src="" alt="" />
                        <div class="js-counter display-5 g-mb-20 g-color-bleu-ua g-font-size-36" data-circles-text="%">314</div>
                        <span class="g-font-size-15">formations</span>
                    </div>
                    <div class="col-md-3 col-6 g-mb-50">
                        <img class="display-5 g-mb-25" src="" alt="" />
                        <div class="js-counter display-5 g-mb-20 g-color-bleu-ua g-font-size-36">90</div>
                        <span class="g-font-size-15 g-word-break">% des diplômé·es de master inséré·es professionnellement après 30 mois</span>
                    </div>
                </div>
            </div>
            <div class="content-richtext-end">
                <!-- empty -->
            </div>
            <div class="meta"></div>
        </div>
    </div>
</div>
<div class="u-fleche-scroll text-right mt-5 g-hidden-md-down g-pr-50">
    <a href="#!" class="g-bg-black-opacity-0_6 rounded-circle p-3"><img alt="Scroll" src="https://www.univ-angers.fr/skins/UnivAngers-v2/resources/img/fleche-blanc.png" /></a>
</div>
{% endblock %}

{% block js %}

{% endblock %}
