{% extends 'layout/master/child-content.html' %}

{% block title %}
  Stratégies et grands projets
{% endblock %}

{% block main_image %}
  <img class="img-fluid w-100" src="https://www.univ-angers.fr/_resource/Pages_Bandeau_Illustration/Illustration_marque.jpg" alt="" />
{% endblock %}

{% block fil_d_ariane %}
  <div class="ml-auto text-uppercase g-font-ua-poppins-semibold g-font-size-12 g-pt-5 g-hidden-sm-down">
    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-5"><span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="{% url 'universite:index' %}">Université</a></li>
      <li class="list-inline-item g-color-bleu-ua"><span class="g-mr-5">&gt;</span><span>Stratégies et grands projets</span></li>
    </ul>
  </div>
{% endblock %}

{% block data %}
  <div data-ametys-zone="default" id="ametys-cms-zone-default">
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N100A0" class="first last">
      <div class="ametys-cms-service filtered-contents filtered-contents-link wrapper">
        <div class="d-flex">
          <div class="d-inline-flex g-bg-white">
            <h1>Stratégie et grands projets</h1>
          </div>
        </div>
        <script type="text/javascript">
        var pagination_fc_9225484080166216 = [];

        pagination_fc_9225484080166216.push('1');
        </script>
        <div class="row" id="fc_9225484080166216-part-1">
          <div class="col-lg-6 g-mb-30 g-px-20">
            <div class="ametys-cms-content article view-link wrapper">
              <article class="text-center g-color-white g-overflow-hidden">
                <div data-bg-img-src="https://www.univ-angers.fr/_resource/Fonds%20illu%20article/motifs/motifs_400x400px_1.png" class="u-block-hover--scale  g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5">
                  <div class=" g-pos-rel g-z-index-1 g-py-120 g-px-20">
                    <h2 class="text-uppercase g-color-white g-font-size-18">Alliance européenne EU GREEN</h2>
                    <a href="#" class="u-btn-link-white g-font-weight-600 g-font-size-11">&gt; En savoir plus</a>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="col-lg-6 g-mb-30 g-px-20">
            <div class="ametys-cms-content article view-link wrapper">
              <article class="text-center g-color-white g-overflow-hidden">
                <div data-bg-img-src="https://www.univ-angers.fr/_resource/Fonds%20illu%20article/motifs/motifs_400x400px_11.png" class="u-block-hover--scale  g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5">
                  <div class=" g-pos-rel g-z-index-1 g-py-120 g-px-20">
                    <h2 class="text-uppercase g-color-white g-font-size-18">égalité</h2>
                    <a href="#" class="u-btn-link-white g-font-weight-600 g-font-size-11">&gt; En savoir plus</a>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="col-lg-6 g-mb-30 g-px-20">
            <div class="ametys-cms-content article view-link wrapper">
              <article class="text-center g-color-white g-overflow-hidden">
                <div data-bg-img-src="https://www.univ-angers.fr/_resource/Fonds%20illu%20article/motifs/motifs_400x400px_noir.png" class="u-block-hover--scale  g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5">
                  <div class=" g-pos-rel g-z-index-1 g-py-120 g-px-20">
                    <h2 class="text-uppercase g-color-white g-font-size-18">Sobriété énergétique</h2>
                    <a href="#" class="u-btn-link-white g-font-weight-600 g-font-size-11">&gt; En savoir plus</a>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="col-lg-6 g-mb-30 g-px-20">
            <div class="ametys-cms-content article view-link wrapper">
              <article class="text-center g-color-white g-overflow-hidden">
                <div data-bg-img-src="https://www.univ-angers.fr/_resource/Fonds%20illu%20article/motifs/motifs_400x400px_13.png" class="u-block-hover--scale  g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5">
                  <div class=" g-pos-rel g-z-index-1 g-py-120 g-px-20">
                    <h2 class="text-uppercase g-color-white g-font-size-18">Transformer les formations en approche par compétences</h2>
                    <a href="#" class="u-btn-link-white g-font-weight-600 g-font-size-11">&gt; En savoir plus</a>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="col-lg-6 g-mb-30 g-px-20">
            <div class="ametys-cms-content article view-link wrapper">
              <article class="text-center g-color-white g-overflow-hidden">
                <div data-bg-img-src="https://www.univ-angers.fr/_resource/Fonds%20illu%20article/motifs/motifs_400x400px_13.png" class="u-block-hover--scale  g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5">
                  <div class=" g-pos-rel g-z-index-1 g-py-120 g-px-20">
                    <h2 class="text-uppercase g-color-white g-font-size-18">Vie étudiante et des campus</h2>
                    <a href="#" class="u-btn-link-white g-font-weight-600 g-font-size-11">&gt; En savoir plus</a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
        <script type="text/javascript"></script>
        <div class="">
          <div class="text-center pages">
            <script type="text/javascript">
            pagination_fc_9225484080166216_current = 0;
            var paginationLength = pagination_fc_9225484080166216.length;
            if (paginationLength > 1) {
              document
              .write("<nav class='pages' aria-label='Page Navigation'><ul class='list-inline'><li class='list-inline-item' id='content_filter_prev_756498573143608fc_9225484080166216' style='display: none;' class='precede'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19 ' type='submit' onclick='try { show_fc_9225484080166216(\"prev\"); } catch(e) {} return false;' value='<'/></li>");

              var firstLastCls = '';
              for (var i = 0; i < paginationLength; i++) {
              firstLastCls = i == 0 ? 'first' : (i == paginationLength - 1 ? 'last' : '');
              document.write("<li id='content_filter_756498573143608fc_9225484080166216" + i + "_button' style='display: " + (i == 0 ? 'none' : '') + (firstLastCls ? ("' class='list-inline-item " + firstLastCls + "'") : "' class='list-inline-item'") + "'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19' type='submit' onclick='try { show_fc_9225484080166216(" + i
                + "); } catch(e) {} return false;' value='" + (i + 1) + "'/></li>");
              document.write("<li id='content_filter_756498573143608fc_9225484080166216" + i + "' style='display: " + (i != 0 ? 'none' : '') + "' class='list-inline-item current" + (firstLastCls ? (' ' + firstLastCls) : '') + "'><span class='u-pagination-v1__item u-pagination-ua g-pa-12-19 current'>" + (i + 1) + "</span></li>");
              }
              document.write("<li id='content_filter_next_756498573143608fc_9225484080166216' class='list-inline-item next'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19' type='submit' onclick='try { show_fc_9225484080166216(\"next\"); } catch(e) {} return false;' value='>'/></li></ul></nav><div style='clear: both;'></div>");

              try {
              show_fc_9225484080166216_buttonsid
              } catch (e) {
              show_fc_9225484080166216_buttonsid = [];
              }

              show_fc_9225484080166216_buttonsid.push("756498573143608")
              function show_fc_9225484080166216(count) {
              if (count == 'next') {
                count = pagination_fc_9225484080166216_current + 1;
              } else if (count == 'prev') {
                count = pagination_fc_9225484080166216_current - 1;
              }

              pagination_fc_9225484080166216_current = count;

              for (const element of show_fc_9225484080166216_buttonsid) {
                var id = element;

                for (var i = 0; i < pagination_fc_9225484080166216.length; i++) {
                  if (i == count) {
                    document.getElementById('fc_9225484080166216-part-' + pagination_fc_9225484080166216[i]).style.display = "";
                    document.getElementById('content_filter_' + id + 'fc_9225484080166216' + i + '_button').style.display = "none";
                    document.getElementById('content_filter_' + id + 'fc_9225484080166216' + i).style.display = "";
                  } else {
                    document.getElementById('fc_9225484080166216-part-' + pagination_fc_9225484080166216[i]).style.display = "none";
                    document.getElementById('content_filter_' + id + 'fc_9225484080166216' + i + '_button').style.display = "";
                    document.getElementById('content_filter_' + id + 'fc_9225484080166216' + i).style.display = "none";
                  }
                }

                document.getElementById("content_filter_prev_" + id + "fc_9225484080166216").style.display = (pagination_fc_9225484080166216_current == "0" ? 'none' : '');
                document.getElementById("content_filter_next_" + id + "fc_9225484080166216").style.display = (pagination_fc_9225484080166216_current == (pagination_fc_9225484080166216.length - 1) ? 'none' : '');
              }

              // onPaginationShow hook.
              if ($j.isFunction(onPaginationShow_fc_9225484080166216)) {
                onPaginationShow_fc_9225484080166216(count + 1);
              }
              }
            }
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'universite/_partial/sidemenu.html' %}
  <div class="g-bg-gris-f-ua g-shadow-block-gris-c-ua-md g-pa-25 g-mr-25--xl">
    <div data-ametys-zone="zone-1" id="ametys-cms-zone-zone-1">
      <div data-ametys-zone-level="1" id="ametys-cms-zone-zone-1-item-N10168" class="first last">
        <h1 class="art-postheader">
          <span class="content-title summary">Labellisation HRS4R</span>
        </h1>
        <p>
          Depuis le 4 décembre 2020, l'Université d'Angers bénéficie du label <a href="https://euraxess.ec.europa.eu/jobs/hrs4r" class="external" target="_blank">HRS4R (Human Resources Strategy for Teachers)</a> délivré par <a href="https://euraxess.ec.europa.eu/" class="external" target="_blank">Euraxess</a>, un organisme lié &agrave; la <a
            href="https://ec.europa.eu/info/index_fr" class="external" target="_blank">Commission européenne</a> destiné &agrave; faciliter la mobilité des chercheurs en Europe.
        </p>
        <p>
          <a href="javascript:void(0);" class="btn know-more">En savoir plus</a>
        </p>
      </div>
    </div>
  </div>
  <div class="g-py-80">
    <div class="g-bg-gris-f2-ua h-100 g-font-ua-poppins-semibold">
      <div data-ametys-zone="zone-2" id="ametys-cms-zone-zone-2"></div>
    </div>
  </div>
{% endblock %}
