<div class="menu-secondaire g-bg-bleu-ua g-shadow-block-gris-c-ua-md g-px-25 g-pt-40 g-pb-25 g-mr-25--xl">
  <h1><a href="{% url 'formations:index' %}">Formations</a></h1>
  <li>
    <div class="list-group g-pl-30--xl g-pl-0--md g-pl-40">
      <a class="g-font-weight-bold--hover g-color-white text-uppercase g-pb-3" href="#">Étudier à l'UA</a>
      <a class="g-font-weight-bold--hover g-color-white text-uppercase g-pb-3" href="#">Étudier en alternance</a>
      <a class="g-font-weight-bold--hover g-color-white text-uppercase g-pb-3" href="#">Aménager sa scolarité</a>
      <a class="g-font-weight-bold--hover g-color-white text-uppercase g-pb-3" href="#">Personnaliser sa formation</a>
      <a class="g-font-weight-bold--hover g-color-white text-uppercase selected" href="{% url 'formations:etre-accompagne-et-conseille' %}">Être accompagné et conseillé</a>
      <a class="g-font-weight-bold--hover g-color-white text-uppercase g-pb-3" href="#">Se former à titre professionnel</a>
    </div>
  </li>
</div>
