{% extends 'layout/master/child-content.html' %}

{% block title %}
  Choisir sa formation
{% endblock %}

{% block main_image %}
  <img class="img-fluid w-100" src="https://www.univ-angers.fr/_resource/Pages_Bandeau_Illustration/Illustration_llu_jpo.jpg" alt="" />
{% endblock %}

{% block fil_d_ariane %}
  <div class="ml-auto text-uppercase g-font-ua-poppins-semibold g-font-size-12 g-pt-5 g-hidden-sm-down">
    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-5">
        <span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="/fr/vous-etes.html">Vous &ecirc;tes</a>
      </li>
      <li class="list-inline-item g-mr-5">
        <span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="/fr/vous-etes/futur-etudiant.html">Futur étudiant / Lycéen</a>
      </li>
      <li class="list-inline-item g-color-bleu-ua">
        <span class="g-mr-5">&gt;</span><span>Choisir sa formation</span>
      </li>
    </ul>
  </div>
{% endblock %}

{% block data %}
  <div data-ametys-zone="default" id="ametys-cms-zone-default">
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N100A0" class="first last">
      <div class="ametys-cms-content article view-main wrapper">
        <h1 class="art-postheader"><span class="content-title summary">Choisir sa formation</span></h1>
        <p class="secondary" style="text-align: center;">
          Le catalogue des formations de l'
          <dfn title="Université d'Angers">UA</dfn>
          est disponible en ligne :&nbsp;<br />
          <a href="https://formations.univ-angers.fr/fr/index.html" class="simple" target="_blank"><strong>formations.univ-angers.fr</strong></a>
        </p>
        <p>Vous pouvez également en apprendre plus sur certaines de nos licences gr&acirc;ce &agrave; cette exploration interactive :</p>
        <table style="width: 100%;" class="simple">
          <tr class="odd first">
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>&nbsp;</p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>&nbsp;</p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>&nbsp;</p>
            </td>
          </tr>
          <tr class="even">
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-droit.html" class="simple"><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/choisir-sa-formation-article/_attribute/content/_data/picto_droit_200x200.png" alt="" width="200" height="200" /></span></a>
              </p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-eco-gestion.html" class="simple"><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/choisir-sa-formation-article/_attribute/content/_data/picto_economie_200x200.png" alt="" width="200" height="200" /></span></a>
              </p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p style="text-align: center;">
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-geographie.html" class="simple"><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/choisir-sa-formation-article/_attribute/content/_data/picto_geographie-2_201x201.png" alt="" width="201" height="201" /></span></a>
              </p>
            </td>
          </tr>
          <tr class="odd">
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-droit.html" class="simple">Licence Droit</a>
              </p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-eco-gestion.html" class="simple">&nbsp;Licence &Eacute;conomie-Gestion</a>
              </p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-geographie.html" class="simple">&nbsp;Licence Géographie</a>
              </p>
            </td>
          </tr>
          <tr class="even">
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>&nbsp;</p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>&nbsp;</p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>&nbsp;</p>
            </td>
          </tr>
          <tr class="odd">
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p style="text-align: center;">
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/llcer-allemand.html" class="simple"><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/choisir-sa-formation-article/_attribute/content/_data/picto_llcer-allemand_200x200.png" alt="" width="200" height="200" /></span></a>
              </p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-llcer-anglais.html" class="simple"><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/choisir-sa-formation-article/_attribute/content/_data/picto_llcer-anglais_200x200.png" alt="" width="200" height="200" /></span></a>
              </p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p style="text-align: center;">
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/llcer-espagnol.html" class="simple"><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/choisir-sa-formation-article/_attribute/content/_data/picto_llcer-espagnol_200x200.png" alt="" width="200" height="200" /></span></a>
              </p>
            </td>
          </tr>
          <tr class="even">
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/llcer-allemand.html" class="simple">Licence LLCER Allemand</a>
              </p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-llcer-anglais.html" class="simple">&nbsp;Licence LLCER Anglais</a>
              </p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/llcer-espagnol.html" class="simple">Licence LLCER Espagnol</a>
              </p>
            </td>
          </tr>
          <tr class="odd">
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>&nbsp;</p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>&nbsp;</p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>&nbsp;</p>
            </td>
          </tr>
          <tr class="even">
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-lea.html" class="simple"><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/choisir-sa-formation-article/_attribute/content/_data/picto_lea_200x200.png" alt="" width="200" height="200" /></span></a>
              </p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-histoire.html" class="simple"><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/choisir-sa-formation-article/_attribute/content/_data/picto_histoire_200x200.png" alt="" width="200" height="200" /></span></a>
              </p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-psychologie.html" class="simple"><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/choisir-sa-formation-article/_attribute/content/_data/picto_psychologie-2_201x201.png" alt="" width="201" height="201" /></span></a>
              </p>
            </td>
          </tr>
          <tr class="odd">
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-lea.html" class="simple">Licence LEA</a>
              </p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-histoire.html" class="simple">Licence Histoire</a>
              </p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-psychologie.html" class="simple">Licence Psychologie</a>
              </p>
            </td>
          </tr>
          <tr class="even">
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>&nbsp;</p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>&nbsp;</p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>&nbsp;</p>
            </td>
          </tr>
          <tr class="odd">
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-lettres.html" class="simple"><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/choisir-sa-formation-article/_attribute/content/_data/picto_lettres-2_201x201.png" alt="" width="201" height="201" /></span></a>
              </p>
            </td>
            <td style="text-align: center; height: 15px;">
              <p style="text-align: center;">
                <a href="/fr/acces-directs/facultes-et-instituts/faculte-des-sciences/formations/nouveaux-portails-2021.html" class="simple"><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/choisir-sa-formation-article/_attribute/content/_data/picto_sciences_201x201.png" alt="" width="201" height="201" /></span></a>
              </p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p style="text-align: center;">
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/etudes-de-pharmacie.html" class="simple"><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/choisir-sa-formation-article/_attribute/content/_data/etudes_pharma_201x201.png" alt="" width="201" height="201" /></span></a>
              </p>
            </td>
          </tr>
          <tr class="even">
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p>
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/licence-lettres.html" class="simple">Licence Lettres</a>
              </p>
            </td>
            <td style="height: 15px;">
              <p style="text-align: center;">
                <a href="/fr/acces-directs/facultes-et-instituts/faculte-des-sciences/formations/nouveaux-portails-2021.html" class="simple">Licence scientifique</a><em><br /></em>
              </p>
            </td>
            <td style="text-align: center; vertical-align: middle; height: 15px;">
              <p style="text-align: center;">
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/etudes-de-pharmacie.html" class="simple">&Eacute;tudes de Pharmacie</a>
              </p>
            </td>
          </tr>
          <tr class="odd">
            <td style="text-align: center; vertical-align: middle;">
              <p>&nbsp;</p>
            </td>
            <td>
              <p style="text-align: center;">
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/diplome-d-etat-en-sciences-infirmieres.html" class="simple"><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/choisir-sa-formation-article/_attribute/content/_data/IFSI_201x201.png" alt="" width="201" height="201" /></span></a>
              </p>
            </td>
            <td>
              <p>&nbsp;</p>
            </td>
          </tr>
          <tr class="even last">
            <td style="text-align: center; vertical-align: middle;">
              <p>&nbsp;</p>
            </td>
            <td>
              <p style="text-align: center;">
                <a href="/fr/vous-etes/futur-etudiant/choisir-sa-formation/diplome-d-etat-en-sciences-infirmieres.html" class="simple">Licence et Dipl&ocirc;me d'&Eacute;tat en sciences infirmi&egrave;res</a>
              </p>
            </td>
            <td>
              <p>&nbsp;</p>
            </td>
          </tr>
        </table>
        <div class="content-richtext-end">
          <!-- empty -->
        </div>
        <div class="meta"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'vous-etes/futur-etudiant/_sidemenu.html' %}
  <div class="g-py-80">
    <div class="g-bg-gris-f2-ua h-100 g-font-ua-poppins-semibold">
      <div data-ametys-zone="zone-2" id="ametys-cms-zone-zone-2"></div>
    </div>
  </div>
{% endblock %}
