{% extends 'layout/master/child-content.html' %}

{% block title %}
  Futur étudiant / Lycéen
{% endblock %}

{% block main_image %}
  <img class="img-fluid w-100" src="https://www.univ-angers.fr/_resource/Pages_Bandeau_Illustration/Illustration_llu_jpo.jpg" alt="" />
{% endblock %}

{% block fil_d_ariane %}
  <div class="ml-auto text-uppercase g-font-ua-poppins-semibold g-font-size-12 g-pt-5 g-hidden-sm-down">
    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-5">
        <span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="{% url 'vous-etes:futur-etudiant:index' %}">Vous êtes</a>
      </li>
      <li class="list-inline-item g-color-bleu-ua">
        <span class="g-mr-5">&gt;</span><span>Futur étudiant / Lycéen</span>
      </li>
    </ul>
  </div>
{% endblock %}

{% block data %}
  <div data-ametys-zone="default" id="ametys-cms-zone-default">
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N100A9" class="first last">
      <div class="ametys-cms-content article view-main wrapper">
        <h1 class="art-postheader"><span class="content-title summary">L'Université met tout en oeuvre pour votre réussite !</span></h1>
        <p>
          <cite>« L'enseignement supérieur doit répondre aux nouveaux modes de vie et d'apprentissage des étudiants. L'objectif est de conjuguer toujours plus réussite étudiante, transmission des savoirs et de compétences, et vie étudiante. L'<dfn title="Université d'Angers">UA</dfn> souhaite former des étudiants prêts à entrer dans le monde professionnel, mais également les accompagner à être acteurs de la société de demain. »</cite> Sabine Mallet, vice-présidente Formation et vie universitaire
        </p>
        <p>
          <iframe width="560" height="415" src="https://www.youtube.com/embed/M0MbDnqM7a8" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
        <p>
          <!-- div style="width: 100%;"><div style="position: relative; padding-bottom: 72.50%; padding-top: 0; height: 0;"><iframe width="800" height="580" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/62d525de9a51740018c44a5c" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div -->
        </p>
        <p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/FcazsCHJ7vI" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
        <div class="content-richtext-end">
          <!-- empty -->
        </div>
        <div class="meta"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'vous-etes/futur-etudiant/_sidemenu.html' %}
  <div class="g-bg-gris-f-ua g-shadow-block-gris-c-ua-md g-pa-25 g-mr-25--xl">
    <div data-ametys-zone="zone-1" id="ametys-cms-zone-zone-1">
      <div data-ametys-zone-level="1" id="ametys-cms-zone-zone-1-item-N101A8" class="first last">
        <h1 class="art-postheader"><span class="content-title summary">L'info en plus</span></h1><a name="N1002F"></a><a name="N10031"></a><a name="N10033"></a>
        <h3 class="ametys-richtext-title-3">UA talents</h3>
        <p>
          Avec 400 diplômes et un taux moyen d'insertion professionnelle de 90%, l'Université d'Angers se positionne comme un acteur clé du lien formation/emploi. <a href="https://uatalents.univ-angers.fr/" class="external" target="_blank">Retrouvez les portraits d'anciens étudiants au parcours à succ&egrave;s !&nbsp;</a>
        </p>
      </div>
    </div>
  </div>
  <div class="g-py-80">
    <div class="g-bg-gris-f2-ua h-100 g-font-ua-poppins-semibold">
      <div data-ametys-zone="zone-2" id="ametys-cms-zone-zone-2">
        <div data-ametys-zone-level="1" id="ametys-cms-zone-zone-2-item-N10200" class="first last">
          <div class="ametys-cms-service filtered-contents filtered-contents-link wrapper">
            <div class="d-flex">
              <div class="g-mt-minus-25 d-inline-flex g-bg-white g-px-17 g-mx-30 mb-3">
                <h1>Prochains événements</h1>
              </div>
            </div>
            <script>
              var pagination_fc_3803055994455554 = ['1']
            </script>
            <div class="g-mb-30" id="fc_3803055994455554-part-1">
              <div class="d-flex flex-row bd-highlight mx-3 g-border-bottom-gris-f2-ua g-bg-white--hover g-pt-5">
                <div class="px-3 bd-highlight">
                  <span class="g-color-bleu-ua g-font-size-26 g-line-height-1">01</span><span class="d-block g-font-size-11">févr.</span><span class="d-block g-font-size-11">2025</span>
                </div>
                <div class="bd-highlight">
                  <h4 class="mb-1 g-font-size-12 g-color-black text-uppercase"><a class="url" href="#">Journée portes ouvertes</a></h4>
                  <p class="g-font-size-10-5 g-font-ua-poppins-regular g-line-height-1">Le 1 février 2025 de 9h à 17h sur les 3 campus angevins (Saint-Serge, Belle-Beille et Santé) et les campus de Cholet, Saumur et Les Sables-d'Olonne.</p>
                </div>
              </div>
              <div class="d-flex flex-row bd-highlight mx-3 g-border-bottom-gris-f2-ua g-bg-white--hover g-pt-5">
                <div class="px-3 bd-highlight">
                  <span class="g-color-bleu-ua g-font-size-26 g-line-height-1">21</span><span class="d-block g-font-size-11">oct.</span><span class="d-block g-font-size-11">2024</span>
                </div>
                <div class="bd-highlight">
                  <h4 class="mb-1 g-font-size-12 g-color-black text-uppercase"><a class="url" href="#">M'essayer c'est m'adopter</a></h4>
                  <p class="g-font-size-10-5 g-font-ua-poppins-regular g-line-height-1">
                    Lycéen&middot;nes, venez tester les cours à l'<dfn title="Université d'Angers">UA</dfn> du 21 au 25 octobre avant de faire un choix d'orientation. Ouverture des inscriptions samedi 5 octobre à 9h.
                  </p>
                </div>
              </div>
              <div class="d-flex flex-row bd-highlight mx-3 g-border-bottom-gris-f2-ua g-bg-white--hover g-pt-5">
                <div class="px-3 bd-highlight">
                  <span class="g-color-bleu-ua g-font-size-26 g-line-height-1">27</span><span class="d-block g-font-size-11">févr.</span><span class="d-block g-font-size-11">2025</span>
                </div>
                <div class="bd-highlight">
                  <h4 class="mb-1 g-font-size-12 g-color-black text-uppercase"><a class="url" href="#">Réunion d'information destinée aux parents</a></h4>
                  <p class="g-font-size-10-5 g-font-ua-poppins-regular g-line-height-1">Pour lutter contre les clichés qui ont parfois la vie dure, l'Université d'Angers propose une soirée d'informations ouverte aux parents de lycéens (et à leurs enfants aussi !) .</p>
                </div>
              </div>
            </div>
            <script></script>
            <div class="">
              <div class="text-md-right text-center">
                <script><!--
                      pagination_fc_3803055994455554_current = 0;
                      var paginationLength = pagination_fc_3803055994455554.length;
                      if (paginationLength > 1) {
                          document.write("<nav class='pages' aria-label='Page Navigation'><ul class='list-inline'><li class='list-inline-item' id='content_filter_prev_826932197983186fc_3803055994455554' style='display: none;' class='precede'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19 ' type='submit' onclick='try { show_fc_3803055994455554(\"prev\"); } catch(e) {} return false;' value='<'/></li>");

                          var firstLastCls = '';
                          for (var i = 0; i < paginationLength; i++) {
                              firstLastCls = i == 0 ? 'first' : (i == paginationLength - 1 ? 'last' : '');
                              document.write("<li id='content_filter_826932197983186fc_3803055994455554" + i + "_button' style='display: " + (i == 0 ? 'none' : '') + (firstLastCls ? ("' class='list-inline-item " + firstLastCls + "'") : "' class='list-inline-item'") + "'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19' type='submit' onclick='try { show_fc_3803055994455554(" + i + "); } catch(e) {} return false;' value='" + (i + 1) + "'/></li>");
                              document.write("<li id='content_filter_826932197983186fc_3803055994455554" + i + "' style='display: " + (i != 0 ? 'none' : '') + "' class='list-inline-item current" + (firstLastCls ? (' ' + firstLastCls) : '') + "'><span class='u-pagination-v1__item u-pagination-ua g-pa-12-19 current'>" + (i + 1) + "</span></li>");
                          }
                          document.write("<li id='content_filter_next_826932197983186fc_3803055994455554' class='list-inline-item next'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19' type='submit' onclick='try { show_fc_3803055994455554(\"next\"); } catch(e) {} return false;' value='>'/></li></ul></nav><div style='clear: both;'></div>");

                          try {
                              show_fc_3803055994455554_buttonsid
                          }
                          catch (e) {
                              show_fc_3803055994455554_buttonsid = [];
                          }

                          show_fc_3803055994455554_buttonsid.push("826932197983186")
                          function show_fc_3803055994455554(count) {
                              if (count == 'next') {
                                  count = pagination_fc_3803055994455554_current + 1;
                              }
                              else if (count == 'prev') {
                                  count = pagination_fc_3803055994455554_current - 1;
                              }

                              pagination_fc_3803055994455554_current = count;

                              for (const element of show_fc_3803055994455554_buttonsid) {
                                  var id = element;

                                  for (var i = 0; i < pagination_fc_3803055994455554.length; i++) {
                                      if (i == count) {
                                          document.getElementById('fc_3803055994455554-part-' + pagination_fc_3803055994455554[i]).style.display = "";
                                          document.getElementById('content_filter_' + id + 'fc_3803055994455554' + i + '_button').style.display = "none";
                                          document.getElementById('content_filter_' + id + 'fc_3803055994455554' + i).style.display = "";
                                      }
                                      else {
                                          document.getElementById('fc_3803055994455554-part-' + pagination_fc_3803055994455554[i]).style.display = "none";
                                          document.getElementById('content_filter_' + id + 'fc_3803055994455554' + i + '_button').style.display = "";
                                          document.getElementById('content_filter_' + id + 'fc_3803055994455554' + i).style.display = "none";
                                      }
                                  }

                                  document.getElementById("content_filter_prev_" + id + "fc_3803055994455554").style.display = (pagination_fc_3803055994455554_current == "0" ? 'none' : '');
                                  document.getElementById("content_filter_next_" + id + "fc_3803055994455554").style.display = (pagination_fc_3803055994455554_current == (pagination_fc_3803055994455554.length - 1) ? 'none' : '');
                              }

                              // onPaginationShow hook.
                              if ($j.isFunction(onPaginationShow_fc_3803055994455554)) {
                                  onPaginationShow_fc_3803055994455554(count + 1);
                              }
                          }
                      }
                  // -->
                  </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
