{% extends 'layout/master/child-content.html' %}

{% block title %}
    Venir à l'université
{% endblock %}

{% block main_image %}
    <img class="img-fluid w-100" src="https://www.univ-angers.fr/_resource/Pages_Bandeau_Illustration/Illustration_international1.jpg" alt="" />
{% endblock %}

{% block fil_d_ariane %}
    <div class="ml-auto text-uppercase g-font-ua-poppins-semibold g-font-size-12 g-pt-5 g-hidden-sm-down">
        <ul class="u-list-inline">
            <li class="list-inline-item g-mr-5"><span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="#">International</a>
            </li>
            <li class="list-inline-item g-color-bleu-ua"><span class="g-mr-5">&gt;</span><span>Venir à l'université</span></li>
        </ul>
    </div>
{% endblock %}

{% block data %}
    <div data-ametys-zone="default" id="ametys-cms-zone-default">
        <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N100A4" class="first ">
            <div class="ametys-cms-content article view-main wrapper">
                <h1 class="art-postheader"><span class="content-title summary">Venir à l'UA</span></h1>
                <p>Vous êtes chercheur ou étudiant international et vous souhaitez venir à l'Université d'Angers pour faire de la recherche, suivre
                    vos études, venir dans la cadre d'un programme d'échange ou apprendre le français.</p>
                <p>Vous trouverez dans les rubriques ci-dessous toutes les informations utiles pour mener à bien votre projet.</p>
                <div class="content-richtext-end"><!--empty--></div>
                <div class="meta"></div>
            </div>
        </div>
        <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N10174" class="even ">
            <div class="ametys-cms-service filtered-contents filtered-contents-link wrapper">
                <script type="text/javascript">
                    var pagination_fc_6655763088484206 = ['1'];
                </script>
                <div class="row" id="fc_6655763088484206-part-1">
                    <div class="col-lg-6 g-mb-30 g-px-20">
                        <div class="ametys-cms-content article view-link wrapper">
                            <article class="text-center g-color-white g-overflow-hidden">
                                <div data-bg-img-src="https://www.univ-angers.fr/_resource/Fonds%20illu%20article/motifs/motifs_400x400px_11.png"
                                    class="u-block-hover--scale  g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5">
                                    <div class=" g-pos-rel g-z-index-1 g-py-120 g-px-20">
                                        <h2 class="text-uppercase g-color-white g-font-size-18">Chercheur international</h2><a
                                            href="#" class="u-btn-link-white g-font-weight-600 g-font-size-11">&gt;
                                            En savoir plus</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-6 g-mb-30 g-px-20">
                        <div class="ametys-cms-content article view-link wrapper">
                            <article class="text-center g-color-white g-overflow-hidden">
                                <div data-bg-img-src="https://www.univ-angers.fr/_resource/Fonds%20illu%20article/motifs/motifs_400x400px_10.png"
                                    class="u-block-hover--scale  g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5">
                                    <div class=" g-pos-rel g-z-index-1 g-py-120 g-px-20">
                                        <h2 class="text-uppercase g-color-white g-font-size-18">étudiant d'échange</h2><a
                                            href="#" class="u-btn-link-white g-font-weight-600 g-font-size-11">&gt; En savoir
                                            plus</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-6 g-mb-30 g-px-20">
                        <div class="ametys-cms-content article view-link wrapper">
                            <article class="text-center g-color-white g-overflow-hidden">
                                <div data-bg-img-src="https://www.univ-angers.fr/_resource/Fonds%20illu%20article/motifs/motifs_400x400px_10.png"
                                    class="u-block-hover--scale  g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5">
                                    <div class=" g-pos-rel g-z-index-1 g-py-120 g-px-20">
                                        <h2 class="text-uppercase g-color-white g-font-size-18">étudiant hors-échange</h2><a
                                            href="#" class="u-btn-link-white g-font-weight-600 g-font-size-11">&gt; En
                                            savoir plus</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <script type="text/javascript"></script>
                <div class="">
                    <div class="text-center pages">
                        <script type="text/javascript">

                            pagination_fc_6655763088484206_current = 0;
                            var paginationLength = pagination_fc_6655763088484206.length;
                            if (paginationLength > 1) {
                                document.write("<nav class='pages' aria-label='Page Navigation'><ul class='list-inline'><li class='list-inline-item' id='content_filter_prev_3676099787457079fc_6655763088484206' style='display: none;' class='precede'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19 ' type='submit' onclick='try { show_fc_6655763088484206(\"prev\"); } catch(e) {} return false;' value='<'/></li>");

                                var firstLastCls = '';
                                for (var i = 0; i < paginationLength; i++) {
                                    firstLastCls = i == 0 ? 'first' : (i == paginationLength - 1 ? 'last' : '');
                                    document.write("<li id='content_filter_3676099787457079fc_6655763088484206" + i + "_button' style='display: " + (i == 0 ? 'none' : '') + (firstLastCls ? ("' class='list-inline-item " + firstLastCls + "'") : "' class='list-inline-item'") + "'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19' type='submit' onclick='try { show_fc_6655763088484206(" + i + "); } catch(e) {} return false;' value='" + (i + 1) + "'/></li>");
                                    document.write("<li id='content_filter_3676099787457079fc_6655763088484206" + i + "' style='display: " + (i != 0 ? 'none' : '') + "' class='list-inline-item current" + (firstLastCls ? (' ' + firstLastCls) : '') + "'><span class='u-pagination-v1__item u-pagination-ua g-pa-12-19 current'>" + (i + 1) + "</span></li>");
                                }
                                document.write("<li id='content_filter_next_3676099787457079fc_6655763088484206' class='list-inline-item next'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19' type='submit' onclick='try { show_fc_6655763088484206(\"next\"); } catch(e) {} return false;' value='>'/></li></ul></nav><div style='clear: both;'></div>");

                                try {
                                    show_fc_6655763088484206_buttonsid
                                }
                                catch (e) {
                                    show_fc_6655763088484206_buttonsid = [];
                                }

                                show_fc_6655763088484206_buttonsid.push("3676099787457079")
                                
                                function show_fc_6655763088484206(count) {
                                    if (count == 'next') {
                                        count = pagination_fc_6655763088484206_current + 1;
                                    }
                                    else if (count == 'prev') {
                                        count = pagination_fc_6655763088484206_current - 1;
                                    }

                                    pagination_fc_6655763088484206_current = count;

                                    for (const element of show_fc_6655763088484206_buttonsid) {
                                        var id = element;

                                        for (var i = 0; i < pagination_fc_6655763088484206.length; i++) {
                                            if (i == count) {
                                                document.getElementById('fc_6655763088484206-part-' + pagination_fc_6655763088484206[i]).style.display = "";
                                                document.getElementById('content_filter_' + id + 'fc_6655763088484206' + i + '_button').style.display = "none";
                                                document.getElementById('content_filter_' + id + 'fc_6655763088484206' + i).style.display = "";
                                            }
                                            else {
                                                document.getElementById('fc_6655763088484206-part-' + pagination_fc_6655763088484206[i]).style.display = "none";
                                                document.getElementById('content_filter_' + id + 'fc_6655763088484206' + i + '_button').style.display = "";
                                                document.getElementById('content_filter_' + id + 'fc_6655763088484206' + i).style.display = "none";
                                            }
                                        }

                                        document.getElementById("content_filter_prev_" + id + "fc_6655763088484206").style.display = (pagination_fc_6655763088484206_current == "0" ? 'none' : '');
                                        document.getElementById("content_filter_next_" + id + "fc_6655763088484206").style.display = (pagination_fc_6655763088484206_current == (pagination_fc_6655763088484206.length - 1) ? 'none' : '');
                                    }

                                    // onPaginationShow hook.
                                    if ($j.isFunction(onPaginationShow_fc_6655763088484206)) {
                                        onPaginationShow_fc_6655763088484206(count + 1);
                                    }
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N101FF" class="last">
            <div class="ametys-cms-content article view-main wrapper">
                <p style="text-align:center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/uGHOCxouGU0?si=syRqz6H66AJFV5fu" title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
                <div class="content-richtext-end"><!--empty--></div>
                <div class="meta"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="g-bg-gris-f-ua g-shadow-block-gris-c-ua-md g-pa-25 g-mr-25--xl">
        <div data-ametys-zone="zone-1" id="ametys-cms-zone-zone-1">
            <div data-ametys-zone-level="1" id="ametys-cms-zone-zone-1-item-N102EA" class="first last">
                <div class="ametys-cms-content article view-main wrapper">
                    <h1 class="art-postheader"><span class="content-title summary">Schéma de l'enseignement supérieur</span><span class="content-subtitle">Les
                            études à l'UA</span></h1>
                    <p><span class="image-wrapper simple" style="display: inline-block; text-align: center"><a title="" rel="single" class="pirobox"
                                href="/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/nouvel-article-1242/_attribute/content/_data/schema_etudes_2021.jpg"><img
                                    src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/nouvel-article-1242/_attribute/content/_data/schema_etudes_2021_500x707.jpg"
                                    alt="" width="707" height="500" /></a></span></p>
                    <div class="content-richtext-end"><!--empty--></div>
                    <div class="meta"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="g-py-80">
        <div class="g-bg-gris-f2-ua h-100 g-font-ua-poppins-semibold">
            <div data-ametys-zone="zone-2" id="ametys-cms-zone-zone-2">
                <div data-ametys-zone-level="1" id="ametys-cms-zone-zone-2-item-N103DF" class="first last">
                    <div class="ametys-cms-service filtered-contents filtered-contents-link wrapper">
                        <div class="d-flex">
                            <div class="g-mt-minus-25 d-inline-flex g-bg-white g-px-17 g-mx-30 mb-3">
                                <h1>Agenda</h1>
                                <div class="rss floatright"><a href="/_plugins/web/zoneItem/bca7e088-6fa0-4af9-b0f8-47d31e76c201/rss.xml"><img alt="Voir le flux RSS de ces contenus"
                                            src="https://www.univ-angers.fr/skins/UnivAngers-v2/resources/img/picto_bleu_rss.png" /></a></div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            var pagination_fc_8284765268434569 = ['1', '2'];
                        </script>
                        <div class="g-mb-30" id="fc_8284765268434569-part-1">
                            <div class="d-flex flex-row bd-highlight mx-3 g-border-bottom-gris-f2-ua g-bg-white--hover g-pt-5">
                                <div class="px-3 bd-highlight"><span class="g-color-bleu-ua g-font-size-26 g-line-height-1">05</span><span
                                        class="d-block g-font-size-11">déc.</span><span class="d-block g-font-size-11">2024</span></div>
                                <div class="bd-highlight">
                                    <h4 class="mb-1 g-font-size-12 g-color-black text-uppercase"><a class="url"
                                            href="#">Soirée de fin d'année à l'Iceparc</a></h4>
                                    <p class="g-font-size-10-5 g-font-ua-poppins-regular g-line-height-1">Il est encore temps de se faire des souvenirs avant la fin du semestre et la
                                        fin de l'année !<br />Inscrivez-vous à la soirée Patinoire et Pull moche de no&euml;l et participez aux jeux sur glace
                                        (ventre-glisse, bowling, ...).<br />Inscriptions jusqu'au 3 décembre !<br /></p>
                                </div>
                            </div>
                            <div class="d-flex flex-row bd-highlight mx-3 g-border-bottom-gris-f2-ua g-bg-white--hover g-pt-5">
                                <div class="px-3 bd-highlight"><span class="g-color-bleu-ua g-font-size-26 g-line-height-1">23</span><span
                                        class="d-block g-font-size-11">nov.</span><span class="d-block g-font-size-11">2024</span></div>
                                <div class="bd-highlight">
                                    <h4 class="mb-1 g-font-size-12 g-color-black text-uppercase"><a class="url"
                                            href="#">Visite de la distillerie Cointreau</a></h4>
                                    <p class="g-font-size-10-5 g-font-ua-poppins-regular g-line-height-1">Le bureau des Internationaux vous propose de découvrir, le Cointreau,
                                        liqueur de renommée mondiale lors d'une visite de la distillerie. </p>
                                </div>
                            </div>
                            <div class="d-flex flex-row bd-highlight mx-3 g-border-bottom-gris-f2-ua g-bg-white--hover g-pt-5">
                                <div class="px-3 bd-highlight"><span class="g-color-bleu-ua g-font-size-26 g-line-height-1">26</span><span
                                        class="d-block g-font-size-11">oct.</span><span class="d-block g-font-size-11">2024</span></div>
                                <div class="bd-highlight">
                                    <h4 class="mb-1 g-font-size-12 g-color-black text-uppercase"><a class="url"
                                            href="#">Halloween à Terra Botanica</a></h4>
                                    <p class="g-font-size-10-5 g-font-ua-poppins-regular g-line-height-1">Découvrez Terra Botanica, l'unique parc d'attraction du
                                        végétal en Europe pour fêter Halloween et l'automne.<br />Tarif préférentiel !</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row bd-highlight mx-3 g-border-bottom-gris-f2-ua g-bg-white--hover g-pt-5">
                                <div class="px-3 bd-highlight"><span class="g-color-bleu-ua g-font-size-26 g-line-height-1">15</span><span
                                        class="d-block g-font-size-11">oct.</span><span class="d-block g-font-size-11">2024</span></div>
                                <div class="bd-highlight">
                                    <h4 class="mb-1 g-font-size-12 g-color-black text-uppercase"><a class="url"
                                            href="#">Ville d'Angers : Accueil des
                                            étudiants internationaux</a></h4>
                                    <p class="g-font-size-10-5 g-font-ua-poppins-regular g-line-height-1">Le Maire de la Ville d'Angers invite tous les étudiants
                                        internationaux à une cérémonie d'accueil.<br /></p>
                                </div>
                            </div>
                            <div class="d-flex flex-row bd-highlight mx-3 g-border-bottom-gris-f2-ua g-bg-white--hover g-pt-5">
                                <div class="px-3 bd-highlight"><span class="g-color-bleu-ua g-font-size-26 g-line-height-1">05</span><span
                                        class="d-block g-font-size-11">oct.</span><span class="d-block g-font-size-11">2024</span></div>
                                <div class="bd-highlight">
                                    <h4 class="mb-1 g-font-size-12 g-color-black text-uppercase"><a class="url" href="#">Voyage en
                                            Anjou</a></h4>
                                    <p class="g-font-size-10-5 g-font-ua-poppins-regular g-line-height-1"><br />Samedi 5 octobre 2024, le Bureau des Internationaux propose à
                                        tous les étudiants et chercheurs internationaux de l'Université et à leurs Buddy Mentors de découvrir les
                                        alentours d'Angers lors du voyage en Anjou. Découvrez le patrimoine, les caves et le charme du Saumurois.</p>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript"></script>
                        <div class="g-mb-30" id="fc_8284765268434569-part-2">
                            <div class="d-flex flex-row bd-highlight mx-3 g-border-bottom-gris-f2-ua g-bg-white--hover g-pt-5">
                                <div class="px-3 bd-highlight"><span class="g-color-bleu-ua g-font-size-26 g-line-height-1">01</span><span
                                        class="d-block g-font-size-11">oct.</span><span class="d-block g-font-size-11">2024</span></div>
                                <div class="bd-highlight">
                                    <h4 class="mb-1 g-font-size-12 g-color-black text-uppercase"><a class="url"
                                            href="#">Parcours entrepreneurial avec EU GREEN</a></h4>
                                    <p class="g-font-size-10-5 g-font-ua-poppins-regular g-line-height-1">Tu es étudiant&middot;e et tu as une idée innovante en lien avec
                                        le développement durable ? L&rsquo;<dfn title="Université d'Angers">UA</dfn> t&rsquo;offre l&rsquo;opportunité de la
                                        développer à l&rsquo;échelle européenne, à travers le parcours &quot;Entrepreneurial Journey&quot; mis en
                                        place dans le cadre de l&rsquo;alliance européenne EU Green.</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row bd-highlight mx-3 g-border-bottom-gris-f2-ua g-bg-white--hover g-pt-5">
                                <div class="px-3 bd-highlight"><span class="g-color-bleu-ua g-font-size-26 g-line-height-1">19</span><span
                                        class="d-block g-font-size-11">sept.</span><span class="d-block g-font-size-11">2024</span></div>
                                <div class="bd-highlight">
                                    <h4 class="mb-1 g-font-size-12 g-color-black text-uppercase"><a class="url"
                                            href="#">L'international à Campus Day</a></h4>
                                    <p class="g-font-size-10-5 g-font-ua-poppins-regular g-line-height-1">Profitez de ce Campus Day pour découvrir l'International.
                                        <br />Participez à nos animations et défis tout au long de la journée (cours de langue, calligraphie, from <dfn
                                            title="Université d'Angers">UA</dfn> with Love, photobooth, etc.)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            document.getElementById('fc_8284765268434569-part-2').style.display = 'none';
                        </script>
                        <div class="">
                            <div class="text-md-right text-center">
                                <script type="text/javascript">

                                    pagination_fc_8284765268434569_current = 0;
                                    var paginationLength = pagination_fc_8284765268434569.length;
                                    if (paginationLength > 1) {
                                        document.write("<nav class='pages' aria-label='Page Navigation'><ul class='list-inline'><li class='list-inline-item' id='content_filter_prev_33167900344009926fc_8284765268434569' style='display: none;' class='precede'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19 ' type='submit' onclick='try { show_fc_8284765268434569(\"prev\"); } catch(e) {} return false;' value='<'/></li>");

                                        var firstLastCls = '';
                                        for (var i = 0; i < paginationLength; i++) {
                                            firstLastCls = i == 0 ? 'first' : (i == paginationLength - 1 ? 'last' : '');
                                            document.write("<li id='content_filter_33167900344009926fc_8284765268434569" + i + "_button' style='display: " + (i == 0 ? 'none' : '') + (firstLastCls ? ("' class='list-inline-item " + firstLastCls + "'") : "' class='list-inline-item'") + "'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19' type='submit' onclick='try { show_fc_8284765268434569(" + i + "); } catch(e) {} return false;' value='" + (i + 1) + "'/></li>");
                                            document.write("<li id='content_filter_33167900344009926fc_8284765268434569" + i + "' style='display: " + (i != 0 ? 'none' : '') + "' class='list-inline-item current" + (firstLastCls ? (' ' + firstLastCls) : '') + "'><span class='u-pagination-v1__item u-pagination-ua g-pa-12-19 current'>" + (i + 1) + "</span></li>");
                                        }
                                        document.write("<li id='content_filter_next_33167900344009926fc_8284765268434569' class='list-inline-item next'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19' type='submit' onclick='try { show_fc_8284765268434569(\"next\"); } catch(e) {} return false;' value='>'/></li></ul></nav><div style='clear: both;'></div>");

                                        try {
                                            show_fc_8284765268434569_buttonsid
                                        }
                                        catch (e) {
                                            show_fc_8284765268434569_buttonsid = [];
                                        }

                                        show_fc_8284765268434569_buttonsid.push("33167900344009926")
                                        function show_fc_8284765268434569(count) {
                                            if (count == 'next') {
                                                count = pagination_fc_8284765268434569_current + 1;
                                            }
                                            else if (count == 'prev') {
                                                count = pagination_fc_8284765268434569_current - 1;
                                            }

                                            pagination_fc_8284765268434569_current = count;

                                            for (const element of show_fc_8284765268434569_buttonsid) {
                                                var id = element;

                                                for (var i = 0; i < pagination_fc_8284765268434569.length; i++) {
                                                    if (i == count) {
                                                        document.getElementById('fc_8284765268434569-part-' + pagination_fc_8284765268434569[i]).style.display = "";
                                                        document.getElementById('content_filter_' + id + 'fc_8284765268434569' + i + '_button').style.display = "none";
                                                        document.getElementById('content_filter_' + id + 'fc_8284765268434569' + i).style.display = "";
                                                    }
                                                    else {
                                                        document.getElementById('fc_8284765268434569-part-' + pagination_fc_8284765268434569[i]).style.display = "none";
                                                        document.getElementById('content_filter_' + id + 'fc_8284765268434569' + i + '_button').style.display = "";
                                                        document.getElementById('content_filter_' + id + 'fc_8284765268434569' + i).style.display = "none";
                                                    }
                                                }

                                                document.getElementById("content_filter_prev_" + id + "fc_8284765268434569").style.display = (pagination_fc_8284765268434569_current == "0" ? 'none' : '');
                                                document.getElementById("content_filter_next_" + id + "fc_8284765268434569").style.display = (pagination_fc_8284765268434569_current == (pagination_fc_8284765268434569.length - 1) ? 'none' : '');
                                            }

                                            // onPaginationShow hook.
                                            if ($j.isFunction(onPaginationShow_fc_8284765268434569)) {
                                                onPaginationShow_fc_8284765268434569(count + 1);
                                            }
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
