{% extends 'layout/master/child-content.html' %}

{% block title %}
  Travailler à l'UA
{% endblock %}

{% block main_image %}
  <img class="img-fluid w-100" src="https://www.univ-angers.fr/_resource/Pages_Bandeau_Illustration/Illustration_marque.jpg" alt="" />
{% endblock %}

{% block fil_d_ariane %}
  <div class="ml-auto text-uppercase g-font-ua-poppins-semibold g-font-size-12 g-pt-5 g-hidden-sm-down">
    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-5"><span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="{% url 'universite:index' %}">Université</a></li>
      <li class="list-inline-item g-color-bleu-ua"><span class="g-mr-5">&gt;</span><span>Travailler à l'UA</span></li>
    </ul>
  </div>
{% endblock %}

{% block data %}
  <div data-ametys-zone="default" id="ametys-cms-zone-default">
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N100A0" class="first ">
      <div class="ametys-cms-content article view-main wrapper">
        <a name="N10035"></a>
        <h1 class="ametys-richtext-title-1">L'UA recrute :</h1>
        <p class="secondary">
          <a href="/fr/universite/travailler-a-l-ua/enseignants-enseignants-chercheurs.html" class="simple"><strong>des enseignants-chercheurs</strong></a>
        </p>
        <p class="secondary">
          <a href="https://recrutement.univ-angers.fr" class="external" target="_blank"><strong>des personnels administratifs et techniques contractuels</strong></a>
        </p>
        <p class="secondary">
          <a href="/fr/universite/travailler-a-l-ua/personnels-administratifs-et-techniques.html" class="simple"><strong>des personnels administratifs et techniques sur concours et recrutement BOE</strong></a>
        </p>
        <p class="secondary">
          <a href="/fr/universite/travailler-a-l-ua/chercheur-es-et-personnels-d-appui-a-la-recherche.html" class="simple"><strong>des chercheur&middot;es et personnels d'appui à la recherche</strong></a>
        </p>
        <p class="secondary">
          <a href="/fr/universite/travailler-a-l-ua/intervenants-exterieurs.html" class="simple"><strong>des intervenants extérieurs</strong></a>
        </p>
        <p class="secondary">
          <a href="/fr/universite/travailler-a-l-ua/etudiants.html" class="simple"><strong>des contrats étudiants</strong></a>
        </p>
        <a name="N1006E"></a>
        <h1 class="ametys-richtext-title-1">4 raisons de nous rejoindre</h1>
        <p>
          <span class="image-wrapper simple floatright" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/travailler-a-l-ua-article/_attribute/content/_data/collegues_ua_petit_315x500.jpg" alt="" width="500" height="315" /></span>
        </p>
        <ol class="arabic">
          <li><strong>Parce qu'il fait bon vivre dans l'Ouest<br /></strong>Au c&oelig;ur d'une région reconnue pour sa qualité de vie, Angers est la &quot;premi&egrave;re ville de France o&ugrave; il fait bon vivre&quot; (selon le magazine L'Express).<br />
          <br /></li>
          <li><strong>Parce qu'il fait bon travailler à l'<dfn title="Université d'Angers">UA</dfn><br /></strong>Attentive à la qualité de vie de ses personnels, l'<dfn title="Université d'Angers">UA</dfn> développe sa politique de cohésion sociale et met tout en &oelig;uvre pour que ses collaborateurs
            puissent concilier vie professionnelle et vie privée. Des exemples  : mise en place d'une plateforme de billetterie et de bons plans, possibilité de travailler en pendulaire ou en télétravail, acc&egrave;s à plus de 40 activités sportives...<br />
          <a href="javascript:void(0);" class="simple">En savoir plus sur la qualité de vie au travail à l'UA</a><br />
          <br /></li>
          <li><strong>Parce que nous partageons les mêmes valeurs<br /></strong>Car la vie est avant tout une expérience humaine, nous voulons que l'<dfn title="Université d'Angers">UA</dfn> soit une terre d'accueil, de citoyenneté et de partage, connectée au monde, aux femmes et aux hommes.<br />
          <br /></li>
          <li><strong>Parce</strong><strong> que vous êtes audacieux !<br /></strong>A l'<dfn title="Université d'Angers">UA</dfn>, nous sommes convaincus que l'innovation et l'expérimentation doivent être au c&oelig;ur de l'enseignement et de la recherche. Nous osons prendre des risques et bousculer les codes établis
            pour tester des solutions originales et créatives !</li>
        </ol>
        <div class="content-richtext-end">
          <!--empty-->
        </div>
        <div class="meta"></div>
      </div>
    </div>
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N101EC" class="even last">
      <div class="ametys-cms-content article view-main wrapper">
        <h1 class="art-postheader">
          <span class="content-title summary">Contact</span>
        </h1>
        <p>
          <span class="image-wrapper simple floatright" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_resource/Pictos/petits/blanc/picto_blanc_mail_31x50.png" alt="" width="50" height="31" /></span>Direction des ressources humaines de l'
          <dfn title="Université d'Angers">UA</dfn>
          <br />
          <a id="M8776655220119607" class="simple">secretariatdrh<span style="position: absolute; left: -1000px; top: -1000px;"> </span>@<span style="position: absolute; left: -1000px; top: -1000px;"> </span>listes.univ-angers.fr<span id="M10904631422547029" style="display: none;"> (secretariatdrh<span style="position: absolute; left: -1000px; top: -1000px;"> </span>@<span
              style="position: absolute; left: -1000px; top: -1000px;"> </span>listes.univ-angers.fr)
          </span></a>
          <script type="text/javascript">
          var a = document.createElement('a');
          var div = document.getElementById('M8776655220119607');
          div.parentNode.insertBefore(a, div);

          while (div.childNodes.length > 1) {
            a.appendChild(div.childNodes[0]);
          }

          div.parentNode.removeChild(div);

          var M7109407137246224 = "secretariatdrh";
          M7109407137246224 += "@";
          M7109407137246224 += "listes.univ-angers.fr";

          a.setAttribute('href', 'mailto:' + M7109407137246224);

          a.setAttribute('class', 'simple');
          </script>
        </p>
        <div class="content-richtext-end">
          <!--empty-->
        </div>
        <div class="meta"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'universite/_partial/sidemenu.html' %}
  <div class="g-bg-gris-f-ua g-shadow-block-gris-c-ua-md g-pa-25 g-mr-25--xl">
    <div data-ametys-zone="zone-1" id="ametys-cms-zone-zone-1">
      <div data-ametys-zone-level="1" id="ametys-cms-zone-zone-1-item-N102EA" class="first last">
        <h1 class="art-postheader">
          <span class="content-title summary">Travailler avec un handicap</span>
        </h1>
        <p>
          Les postes offerts par l'Université d'Angers sont ouverts à tous, avec un <a href="/fr/universite/travailler-a-l-ua/accompagnement-des-personnels-en-situation-de-handicap.html" class="simple">accompagnement possible pour les candidats en situation de handicap</a>.
        </p>
        <a name="N10037"></a>
        <h1 class="ametys-richtext-title-1">
          <strong>L'UA, 3e employeur de Maine-et-Loire</strong>
        </h1>
        <ul class="custom">
          <li>1088 enseignants-chercheurs</li>
          <li>782 personnels administratifs et techniques</li>
          <li>2132 vacataires</li>
          <li>454 contrats étudiants</li>
        </ul>
        <a name="N1004F"></a>
        <h1 class="ametys-richtext-title-1">Ils ont travaillé à l'UA</h1>
        <p>
          En savoir plus sur l'<a href="/fr/universite/travailler-a-l-ua/arua.html" class="simple">Association des retraités de l'Université d'Angers</a>
        </p>
      </div>
    </div>
  </div>
  <div class="g-py-80">
    <div class="g-bg-gris-f2-ua h-100 g-font-ua-poppins-semibold">
      <div data-ametys-zone="zone-2" id="ametys-cms-zone-zone-2"></div>
    </div>
  </div>
{% endblock %}
