{% extends 'layout/master/child-content.html' %}

{% block title %}
  Études doctorales et HDR
{% endblock %}

{% block main_image %}
  <img class="img-fluid w-100" src="https://www.univ-angers.fr/_resource/Pages_Bandeau_Illustration/Illustration_recherchesante.jpg" alt="" />
{% endblock %}

{% block fil_d_ariane %}
  <div class="ml-auto text-uppercase g-font-ua-poppins-semibold g-font-size-12 g-pt-5 g-hidden-sm-down">
    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-5">
        <span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="#">Recherche</a>
      </li>
      <li class="list-inline-item g-color-bleu-ua">
        <span class="g-mr-5">&gt;</span><span>Études doctorales et HDR</span>
      </li>
    </ul>
  </div>
{% endblock %}

{% block data %}
  <div data-ametys-zone="default" id="ametys-cms-zone-default">
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N100A1" class="first">
      <div class="ametys-cms-content article view-main wrapper">
        <h1 class="art-postheader"><span class="content-title summary">Études doctorales et HDR</span></h1>
        <p>La formation doctorale à l'Université d'Angers c'est :</p>
        <ul class="custom">
          <li>1 p&ocirc;le doctoral</li>
          <li>10 écoles doctorales</li>
          <li>500 doctorants</li>
          <li>90 thèses soutenues/an</li>
        </ul><a name="N10052"></a>
        <h2 class="ametys-richtext-title-1">Avant</h2>
        <ul class="arrow">
          <li>
            <a href="#" class="simple">Écoles doctorales</a>
          </li>
          <li>
            <a href="#" class="simple">Inscription et&nbsp;</a><a href="javascript:void(0);" class="simple">cotutelle de thèse</a>
          </li>
        </ul><a name="N1006D"></a>
        <h2 class="ametys-richtext-title-1">Pendant</h2>
        <ul class="arrow">
          <li>
            <a href="#" class="simple">Formation</a>
          </li>
          <li>
            <a href="#" class="simple">Soutenance</a>
          </li>
        </ul>
        <p>&nbsp;</p><a name="N10085"></a>
        <h3 class="ametys-richtext-title-2">Pourquoi venir faire un doctorat à Angers ?</h3>
        <p>
          <style>
            .video_wrapper#video_wrapper_O0EJkTNz-8k {
              max-width: 480px;
              max-height: 385px;
              width: 100%;
              display: inline-block;
            }
            
            .video_wrapper#video_wrapper_O0EJkTNz-8k > * {
              display: block;
              position: relative;
              padding-bottom: 80.20833333333334%;
            }
            
            .video_wrapper#video_wrapper_O0EJkTNz-8k iframe {
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0px;
              top: 0px;
            }
          </style><span id="video_wrapper_O0EJkTNz-8k" class="video_wrapper video_youtube_wrapper"><span><iframe allowfullscreen="allowfullscreen" frameborder="0" src="//www.youtube.com/embed/O0EJkTNz-8k" height="385" width="480" class="" id="iframe_O0EJkTNz-8k"></iframe></span></span>
        </p>
        <div class="content-richtext-end">
          <!-- empty -->
        </div>
        <div class="meta"></div>
      </div>
    </div>
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N101DA" class="even last ametys-cms-zone-error"></div>
  </div>
{% endblock %}

{% block sidebar %}
  <div class="menu-secondaire g-bg-bleu-ua g-shadow-block-gris-c-ua-md g-px-25 g-pt-40 g-pb-25 g-mr-25--xl">
    <h1><a href="#">Recherche</a></h1>
    <li>
      <div class="list-group g-pl-30--xl g-pl-0--md g-pl-40">
        <a class="g-font-weight-bold--hover g-color-white text-uppercase g-pb-3" href="#">La recherche à l'UA</a>
        <a class="g-font-weight-bold--hover g-color-white text-uppercase g-pb-3" href="#">Science et société</a>
        <a class="g-font-weight-bold--hover g-color-white text-uppercase g-pb-3" href="#">Innovation</a>
        <a class="g-font-weight-bold--hover g-color-white text-uppercase selected" href="{% url 'recherche:etudes-doctorales-et-hdr' %}">Études doctorales et HDR</a>
        <ul class="custom mb-0 g-pb-3">
          <li>
            <a class="g-color-white g-font-weight-bold--hover" href="#">S'inscrire en doctorat</a>
          </li>
          <li>
            <a class="g-color-white g-font-weight-bold--hover" href="#">Soutenir sa thèse</a>
          </li>
          <li>
            <a class="g-color-white g-font-weight-bold--hover" href="#">La formation doctorale</a>
          </li>
          <li>
            <a class="g-color-white g-font-weight-bold--hover" href="#">Écoles doctorales</a>
          </li>
          <li>
            <a class="g-color-white g-font-weight-bold--hover" href="#">Habilitation à diriger des recherches</a>
          </li>
        </ul>
      </div>
    </li>
  </div>
  <div class="g-py-80">
    <div class="g-bg-gris-f2-ua h-100 g-font-ua-poppins-semibold">
      <div data-ametys-zone="zone-2" id="ametys-cms-zone-zone-2"></div>
    </div>
  </div>
{% endblock %}
