{% extends 'layout/master.html' %}

{% block title %}
  Études doctorales et HDR
{% endblock %}

{% block content %}
    <img class="img-fluid w-100" src="https://www.univ-angers.fr/_resource/Pages_Bandeau_Illustration/Illustration_recherchesante.jpg" alt="" />
    <div class="container-fluid g-px-50--sm g-px-125--xl">
        <div class="row">
            <div class="col-lg-8 col-md-7 g-px-0--lg g-z-index-2">
                <div class="ml-auto text-uppercase g-font-ua-poppins-semibold g-font-size-12 g-pt-5 g-hidden-sm-down">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5"><span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="/fr/recherche.html">Recherche</a></li>
                        <li class="list-inline-item g-color-bleu-ua"><span class="g-mr-5">&gt;</span><span>Études doctorales et HDR</span></li>
                    </ul>
                </div>
                <div class="g-mt-30 d-flex"><a href="javascript:window.print();" class="u-image-lien u-image-print-ua"></a><span id="sendByMailHeader-6151979631711171"></span>
                    <script type="text/javascript">

                        $j("#sendByMailHeader-6151979631711171").wrapInner("<a class='u-image-lien u-image-mail-ua' href='javascript: sendByMail_form_popup_6151979631711171()'></a>")

                    </script>
                    <form method="post" action="/fr/_plugins/socialnetworking/page/send-mail" id="sendByMail-6151979631711171">
                        <div class="sendByMail-form" id="sendByMail-form-6151979631711171"><input value="page://559794f6-ed57-40df-849c-bda22c7ee646" id="sendByMail-6151979631711171-id"
                                name="page-id" type="hidden" />
                            <div class="field">
                                <div class="label"><label for="sendByMail-6151979631711171-name">Votre nom<span class="mandatory"> *</span></label></div>
                                <div class="input"><input id="sendByMail-6151979631711171-name" name="name" type="text" /></div>
                                <div class="field-end"></div>
                                <script type="text/javascript">

                                    getAmetysUser(function (user) {
                                        if (user && user.fill) {
                                            user.fill("sendByMail-6151979631711171-name", "fullname");
                                        }
                                    });

                                </script>
                            </div>
                            <div class="field">
                                <div class="label"><label for="sendByMail-6151979631711171-email-by">Votre email<span class="mandatory"> *</span></label></div>
                                <div class="input"><input id="sendByMail-6151979631711171-email-by" name="email" type="text" /></div>
                                <div class="field-end"></div>
                                <script type="text/javascript">
                                    getAmetysUser(function (user) {
                                        if (user && user.fill) {
                                            user.fill("sendByMail-6151979631711171-email-by", "email");
                                        }
                                    });
                                </script>
                            </div>
                            <div class="field">
                                <div class="label"><label for="sendByMail-6151979631711171-email-to">Destinataire(s)<span class="mandatory"> *</span></label></div>
                                <div class="input"><input id="sendByMail-6151979631711171-email-to" name="emailTo" type="text" /><br /><span class="hint">Séparés par des
                                        virgules</span></div>
                                <div class="field-end"></div>
                            </div>
                            <div class="field">
                                <div class="label"><label for="sendByMail-6151979631711171-text">Message</label></div>
                                <div class="input"><textarea rows="3" cols="20" id="sendByMail-6151979631711171-text" name="text"></textarea></div>
                                <div class="field-end"></div>
                            </div>
                            <div class="field">
                                <div class="input"><noscript>
                                        <div style="width: 302px; height: 462px;">
                                            <div style="width: 302px; height: 422px; position: relative;">
                                                <div style="width: 302px; height: 422px;"><iframe style="width: 302px; height:422px; border-style: none;" scrolling="no" frameborder="0"
                                                        src="https://www.google.com/recaptcha/api/fallback?k=6LcXZ2keAAAAAM9vGeAW51KGxDLMZAu5bINCvABU"></iframe></div>
                                                <div
                                                    style="width: 300px; height: 60px; border-style: none;                           bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px;                           background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;">
                                                    <textarea
                                                        style="width: 250px; height: 40px; border: 1px solid #c1c1c1;                                  margin: 10px 25px; padding: 0px; resize: none;"
                                                        class="g-recaptcha-response" name="captcha-value" id="g-recaptcha-response"></textarea><input name="captcha-key" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                    </noscript>
                                    <script type="text/javascript">
                                        document.write("<input type=\"hidden\" name=\"captcha-key\" id=\"sendByMail-6151979631711171-captcha-key\"/>")
                                        document.write("<input type=\"hidden\" name=\"captcha-value\" id=\"sendByMail-6151979631711171-captcha\"/>")
                                        document.write("<div class=\"g-recaptcha\" id=\"captcha7364122702600805\"></div>")
                                        function loadValueToSend_captcha7364122702600805(value) {
                                            document.getElementById("sendByMail-6151979631711171-captcha").value = value;
                                        }
                                        var widgetIds = [];

                                        function ReCaptchaCallback_captcha7364122702600805() {
                                            recaptchaLoaded = true;
                                            for (var i = 0; i < recaptchaFieldsToLoad.length; i++) {
                                                var resetId = grecaptcha.render(recaptchaFieldsToLoad[i].captchaId, {
                                                    'sitekey': '6LcXZ2keAAAAAM9vGeAW51KGxDLMZAu5bINCvABU',
                                                    'callback': recaptchaFieldsToLoad[i].callback,
                                                    'theme': recaptchaFieldsToLoad[i].theme,
                                                    'size': recaptchaFieldsToLoad[i].size,
                                                    'tabindex': "1"
                                                });
                                                widgetIds[recaptchaFieldsToLoad[i].captchaId] = resetId;
                                            }
                                        }

                                        if (typeof recaptchaLoaded == 'undefined') {
                                            // The recaptcha script was never loaded
                                            recaptchaLoaded = false;
                                            recaptchaFieldsToLoad = [{
                                                'captchaId': "captcha7364122702600805",
                                                'callback': loadValueToSend_captcha7364122702600805,
                                                'theme': 'light',
                                                'size': 'normal',
                                            }];
                                            document.write("<script src=\"https://www.google.com/recaptcha/api.js?onload=ReCaptchaCallback_captcha7364122702600805&render=explicit\" async defer><\/script>");
                                        }
                                        else if (recaptchaLoaded == false) {
                                            // The recaptcha script is loading but not ready.
                                            recaptchaFieldsToLoad.push({
                                                'captchaId': "captcha7364122702600805",
                                                'callback': loadValueToSend_captcha7364122702600805,
                                                'theme': 'light',
                                                'size': 'normal'
                                            })
                                        }
                                        else {
                                            // the recaptcha script is loaded and ready
                                            var resetId = grecaptcha.render("captcha7364122702600805", {
                                                'sitekey': '6LcXZ2keAAAAAM9vGeAW51KGxDLMZAu5bINCvABU',
                                                'callback': loadValueToSend_captcha7364122702600805,
                                                'theme': 'light',
                                                'size': 'normal'
                                            });
                                            widgetIds[captcha7364122702600805] = resetId;
                                        }

                                        function refresh_sendByMail_6151979631711171(focusNow) {
                                            grecaptcha.reset(widgetIds["captcha7364122702600805"]);
                                        }
                                    </script>
                                </div>
                                <div class="field-end"></div>
                            </div>
                            <div id="sendByMail-submit-6151979631711171">
                                <div class="button"><input type="submit" class="art-button" value="Envoyer" onclick="return sendByMail_form_submit_6151979631711171();" title="" /></div>
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript">

                        function sendByMail_form_switch_6151979631711171() {
                            var form = document.getElementById('sendByMail-6151979631711171');
                            var submit = document.getElementById('sendByMail-submit-6151979631711171');
                            form.style.display = (form.style.display == 'none') ? '' : 'none';
                            submit.style.display = (submit.style.display == 'none') ? '' : 'none';
                        }

                        sendByMail_captchaRequired_6151979631711171 = true;

                        sendByMail_form_switch_6151979631711171();

                        function sendByMail_form_popup_6151979631711171() {
                            if (sendByMail_captchaRequired_6151979631711171) {
                                refresh_sendByMail_6151979631711171();
                            }
                            $j("#sendByMail-form-6151979631711171 script").remove();
                            $j("#sendByMail-form-6151979631711171").dialog({
                                resizable: false,
                                height: 'auto',
                                width: 'auto',
                                modal: true,
                                title: 'Envoyer par mail',
                                buttons: {
                                    Envoyer: function () {
                                        sendByMail_form_submit_6151979631711171();
                                    },
                                    Annuler: function () {
                                        $j(this).dialog("close");
                                    }
                                }
                            });

                            $j('#sendByMail-6151979631711171-email-to').val('');
                            $j('#sendByMail-6151979631711171-text').val('');
                            $j('#sendByMail-6151979631711171-captcha').val('');
                        }

                        function sendByMail_form_submit_6151979631711171() {
                            var form = document.getElementById('sendByMail-6151979631711171');

                            var pageId = $j('#sendByMail-6151979631711171-id');
                            var nameInput = $j('#sendByMail-6151979631711171-name');
                            var emailInputBy = $j('#sendByMail-6151979631711171-email-by');
                            var emailInputTo = $j('#sendByMail-6151979631711171-email-to');
                            var contentInput = $j('#sendByMail-6151979631711171-text');
                            var captchaKey = $j('#sendByMail-6151979631711171-captcha-key');
                            var captchaInput = $j('#sendByMail-6151979631711171-captcha');

                            var errors = false;

                            if (/^\s*$/.test(nameInput.val())) {
                                errors = true;
                                nameInput.parentsUntil('.field').parent().addClass('error');
                            }
                            else {
                                nameInput.parentsUntil('.field').parent().removeClass('error');
                            }

                            if (!/^([a-z0-9._-]+@[a-z0-9.-]{2,}[.][a-z]{2,})?$/.test(emailInputBy.val()) || /^\s*$/.test(emailInputBy.val())) {
                                errors = true;
                                emailInputBy.parentsUntil('.field').parent().addClass('error');
                            }
                            else {
                                emailInputBy.parentsUntil('.field').parent().removeClass('error');
                            }

                            if (!/^([a-z0-9._-]+@[a-z0-9.-]{2,}[.][a-z]{2,})?(\s*,\s*([a-z0-9._-]+@[a-z0-9.-]{2,}[.][a-z]{2,})?)*$/.test(emailInputTo.val()) || /^\s*$/.test(emailInputTo.val())) {
                                errors = true;
                                emailInputTo.parentsUntil('.field').parent().addClass('error');
                            }
                            else {
                                emailInputTo.parentsUntil('.field').parent().removeClass('error');
                            }



                            if (!errors) {
                                // send it in ajax
                                var data = {
                                    "page-id": pageId.val(),
                                    "name": nameInput.val(),
                                    "email": emailInputBy.val(),
                                    "emailTo": emailInputTo.val(),
                                    "text": contentInput.val(),
                                    "captcha-key": captchaKey.val(),
                                    "captcha-value": captchaInput.val(),
                                    "ajax": "true"
                                };

                                function result(data) {
                                    var s = "";
                                    $j('errors error', data).each(function () {s += $j(this).text() + "\n";});

                                    if (s == "") {
                                        var errors = $j('error > error', data);
                                        var mailErrors = $j('mailError > mailError', data);

                                        if (errors.length == 0 && mailErrors.length == 0) {
                                            $j("#sendByMail-form-6151979631711171").dialog("close");
                                            alert("Le mail a bien été envoyé");
                                        }
                                        else if (errors.length > 0) {
                                            var m = '';
                                            $j('error > error', data).each(function () {
                                                m += "\n*" + $j(this).text();
                                            });
                                            alert("Votre formulaire contient les erreurs suivantes :" + m);
                                            if (sendByMail_captchaRequired_6151979631711171) {
                                                refresh_sendByMail_6151979631711171();
                                            }
                                        }
                                        else if (mailErrors.length > 0) {
                                            var m = '';
                                            $j('mailError > mailError', data).each(function () {
                                                m += "\n" + $j(this).text();
                                            });

                                            alert("L'envoi du mail a échoué pour les adresses email suivantes :" + m);
                                            if (sendByMail_captchaRequired_6151979631711171) {
                                                refresh_sendByMail_6151979631711171();
                                            }
                                        }
                                    }
                                    else {
                                        // Could really append ??
                                        alert(s);
                                        if (sendByMail_captchaRequired_6151979631711171) {
                                            refresh_sendByMail_6151979631711171();
                                        }
                                    }
                                }


                                function handleError(jqXHR, textStatus, errorThrown) {
                                    alert("Une erreur inattendue est survenue: l'envoi de mail a échoué.");
                                }

                                $j.ajax({
                                    url: "/plugins/socialnetworking/send-mail",
                                    data: data,
                                    type: 'post',
                                    success: result,
                                    error: handleError
                                });
                            }

                            return false;
                        }

                    </script>
                    <div class="art-sharethis">
                        <div class="art-sharethis-wrapper">
                            <script type="text/javascript">

                                var switchTo5x = true; // Multi Post
                                $j(document).ready(function () {
                                    var baseUrl = document.location.protocol == 'https:' ? 'https://ws.' : 'http://w.';
                                    $j.getScript(baseUrl + "sharethis.com/button/buttons.js", function (data, textStatus) {
                                        stLight.options({
                                            publisher: '7fcfec1e-16ef-41a0-8902-67b9f511c6ba'
                                            , lang: 'fr', fbLang: 'fr_FR'
                                        });
                                    });
                                });

                            </script>
                            <script type="text/javascript">

                                document.write("<span class='st_sharethis' displayText='ShareThis'></span>");

                            </script>
                        </div>
                    </div>
                </div>
                <div data-ametys-zone="default" id="ametys-cms-zone-default">
                    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N100A1" class="first ">
                        <div class="ametys-cms-content article view-main wrapper">
                            <h1 class="art-postheader"><span class="content-title summary">Études doctorales et HDR</span></h1>
                            <p>La formation doctorale à l'Université d'Angers c'est :</p>
                            <ul class="custom">
                                <li>1 p&ocirc;le doctoral</li>
                                <li>10 écoles doctorales</li>
                                <li>500 doctorants</li>
                                <li>90 th&egrave;ses soutenues/an</li>
                            </ul><a name="N10052"></a>
                            <h2 class="ametys-richtext-title-1">Avant</h2>
                            <ul class="arrow">
                                <li><a href="/fr/recherche/etudes-doctorales-et-hdr/ecoles-doctorales.html" class="simple">Écoles doctorales</a></li>
                                <li><a href="/fr/recherche/etudes-doctorales-et-hdr/s-inscrire-en-doctorat.html" class="simple">Inscription et&nbsp;</a><a href="javascript:void(0);"
                                        class="simple">cotutelle de th&egrave;se</a></li>
                            </ul><a name="N1006D"></a>
                            <h2 class="ametys-richtext-title-1">Pendant</h2>
                            <ul class="arrow">
                                <li><a href="/fr/recherche/etudes-doctorales-et-hdr/la-formation-doctorale.html" class="simple">Formation</a></li>
                                <li><a href="/fr/recherche/etudes-doctorales-et-hdr/soutenir-sa-these.html" class="simple">Soutenance</a></li>
                            </ul>
                            <p>&nbsp;</p><a name="N10085"></a>
                            <h3 class="ametys-richtext-title-2">Pourquoi venir faire un doctorat à Angers ?</h3>
                            <p>
                                <style>
                                    .video_wrapper#video_wrapper_O0EJkTNz-8k {
                                        max-width: 480px;
                                        max-height: 385px;
                                        width: 100%;
                                        display: inline-block;
                                    }

                                    .video_wrapper#video_wrapper_O0EJkTNz-8k>* {

                                        display: block;
                                        position: relative;
                                        padding-bottom: 80.20833333333334%;
                                    }

                                    .video_wrapper#video_wrapper_O0EJkTNz-8k iframe {
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        left: 0px;
                                        top: 0px;
                                    }
                                </style><span id="video_wrapper_O0EJkTNz-8k" class="video_wrapper video_youtube_wrapper "><span><iframe allowfullscreen="allowfullscreen" frameborder="0"
                                            src="//www.youtube.com/embed/O0EJkTNz-8k" height="385" width="480" class="" id="iframe_O0EJkTNz-8k"></iframe></span></span>
                            </p>
                            <div class="content-richtext-end"><!--empty--></div>
                            <div class="meta"></div>
                        </div>
                    </div>
                    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N101DA" class="even last ametys-cms-zone-error"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 g-pr-0--lg g-pl-30--lg g-pt-55--md g-pt-25 g-z-index-2">
                <div class="menu-secondaire g-bg-bleu-ua g-shadow-block-gris-c-ua-md g-px-25 g-pt-40 g-pb-25 g-mr-25--xl">
                    <h1><a href="/fr/recherche.html">Recherche</a></h1>
                    <li>
                        <div class="list-group g-pl-30--xl g-pl-0--md g-pl-40"><a class="g-font-weight-bold--hover g-color-white text-uppercase g-pb-3"
                                href="/fr/recherche/la-recherche-a-l-ua.html">La recherche à l'UA</a><a class="g-font-weight-bold--hover g-color-white text-uppercase g-pb-3"
                                href="/fr/recherche/science-et-societe.html">Science et société</a><a class="g-font-weight-bold--hover g-color-white text-uppercase g-pb-3"
                                href="/fr/recherche/innovation.html">Innovation</a><a class="g-font-weight-bold--hover g-color-white text-uppercase selected "
                                href="{% url 'recherche:etudes-doctorales-et-hdr' %}">Études doctorales et HDR</a>
                            <ul class="custom mb-0 g-pb-3">
                                <li><a class="g-color-white g-font-weight-bold--hover" href="/fr/recherche/etudes-doctorales-et-hdr/s-inscrire-en-doctorat.html">S'inscrire en doctorat</a>
                                </li>
                                <li><a class="g-color-white g-font-weight-bold--hover" href="/fr/recherche/etudes-doctorales-et-hdr/soutenir-sa-these.html">Soutenir sa th&egrave;se</a></li>
                                <li><a class="g-color-white g-font-weight-bold--hover" href="/fr/recherche/etudes-doctorales-et-hdr/la-formation-doctorale.html">La formation doctorale</a></li>
                                <li><a class="g-color-white g-font-weight-bold--hover" href="/fr/recherche/etudes-doctorales-et-hdr/ecoles-doctorales.html">Écoles doctorales</a></li>
                                <li><a class="g-color-white g-font-weight-bold--hover" href="/fr/recherche/etudes-doctorales-et-hdr/habilitation-a-diriger-des-recherches.html">Habilitation
                                        à diriger des recherches</a></li>
                            </ul>
                        </div>
                    </li>
                </div>
                <div class="g-py-80">
                    <div class="g-bg-gris-f2-ua h-100 g-font-ua-poppins-semibold">
                        <div data-ametys-zone="zone-2" id="ametys-cms-zone-zone-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid g-bg-gris-c-ua g-mt-30 g-pb-40">
        <div data-ametys-zone="bottom" id="ametys-cms-zone-bottom"></div>
    </div>
    <div class="u-fleche-scroll text-right mt-5 g-hidden-md-down g-pr-50"><a href="#!" class="g-bg-black-opacity-0_6 rounded-circle p-3"><img alt="Scroll"
                src="/skins/UnivAngers-v2/resources/img/fleche-blanc.png" /></a></div>
{% endblock %}
