{% extends 'layout/master/child-content.html' %}

{% block title %}
  Enseignements d'ouverture optionnels
{% endblock %}

{% block main_image %}
  <img class="img-fluid w-100" src="https://www.univ-angers.fr/_resource/Pages_Bandeau_Illustration/Illustration_etudiants2.jpg" alt="" />
{% endblock %}

{% block fil_d_ariane %}
  <div class="ml-auto text-uppercase g-font-ua-poppins-semibold g-font-size-12 g-pt-5 g-hidden-sm-down">
    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-5">
        <span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="/fr/vous-etes.html">Vous &ecirc;tes</a>
      </li>
      <li class="list-inline-item g-mr-5">
        <span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="/fr/vous-etes/etudiant-e.html">&Eacute;tudiant</a>
      </li>
      <li class="list-inline-item g-color-bleu-ua">
        <span class="g-mr-5">&gt;</span><span>Enseignements d'ouverture optionnels</span>
      </li>
    </ul>
  </div>
{% endblock %}

{% block data %}
  <div data-ametys-zone="default" id="ametys-cms-zone-default">
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N100A1" class="first">
      <div class="ametys-cms-content article view-main wrapper">
        <h1 class="art-postheader"><span class="content-title summary">Enseignements d'ouverture optionnels (E2O)</span></h1>
        <p class="introduction">
          Un E2O est un enseignement d'ouverture non obligatoire, dans le cursus licence. Non disciplinaires, ces enseignements permettent aux étudiant.es de découvrir d'autres activités dans leur cursus. Sont concernés les Facultés de Sciences, de Lettres-langues et sciences humaines, de Droit-d'écomie et de gestion et l'Esthua.<br />4 grands domaines d'E2O existent : sport, activités culturelles, engagement étudiant et langues. Les inscriptions se font via le <a href="https://ent.univ-angers.fr/etudiant.html" class="external" target="_blank">guichet des services numériques</a>, rubrique Scolarité et bouton &quot;Inscriptions pédagogiques&quot;. <br />
          <br />
        </p>
        <a name="N10053"></a>
        <h2 class="ametys-richtext-title-1">Découvrir la liste : </h2>
        <div class="content-richtext-end">
          <!-- empty -->
        </div>
        <div class="meta"></div>
      </div>
    </div>
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N101C7" class="even">
      <div class="ametys-cms-service attachments explorer-folder medium-icons wrapper">
        <ul class="attachment-list" id="attachment_08146709980816891">
          <li>
            <i class="fa fa-folder-open-o"></i><span class="folder">Activités culturelles</span><br />
            <ul>
              <li>
                <span class="file"><a title="E2o_Atelier fanfare_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Activit%C3%A9s%20culturelles/E2o_Atelier%20fanfare_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Atelier fanfare_2024-2025 (A).pdf</a><span class="size">83 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2O_Atelier thé&acirc;tre &amp; vidéo_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Activit%C3%A9s%20culturelles/E2O_Atelier%20th%C3%A9%C3%A2tre%20&amp;%20vid%C3%A9o_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2O_Atelier thé&acirc;tre &amp; vidéo_2024-2025 (A).pdf</a><span class="size">76 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_Ecriture contemporaine_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Activit%C3%A9s%20culturelles/E2o_Ecriture%20contemporaine_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Ecriture contemporaine_2024-2025 (A).pdf</a><span class="size">126 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_Guitare_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Activit%C3%A9s%20culturelles/E2o_Guitare_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Guitare_2024-2025 (A).pdf</a><span class="size">77 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2O_Labo sonore_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Activit%C3%A9s%20culturelles/E2O_Labo%20sonore_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2O_Labo sonore_2024-2025 (A).pdf</a><span class="size">107 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_Parcours culturel_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Activit%C3%A9s%20culturelles/E2o_Parcours%20culturel_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Parcours culturel_2024-2025 (A).pdf</a><span class="size">166 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_Vox Campus Choeur_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Activit%C3%A9s%20culturelles/E2o_Vox%20Campus%20Choeur_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Vox Campus Choeur_2024-2025 (A).pdf</a><span class="size">74 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_Vox Campus Orchestre_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Activit%C3%A9s%20culturelles/E2o_Vox%20Campus%20Orchestre_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Vox Campus Orchestre_2024-2025 (A).pdf</a><span class="size">73 Ko</span></span>
              </li>
            </ul>
          </li>
          <li>
            <i class="fa fa-folder-open-o"></i><span class="folder">Engagements étudiants</span><br />
            <ul>
              <li>
                <span class="file"><a title="E2o_Accompagnement scolaire avec l'AFEV_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2o_Accompagnement%20scolaire%20avec%20l'AFEV_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Accompagnement scolaire avec l'AFEV_2024-2025 (A).pdf</a><span class="size">61 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_Ambassadeur International_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2o_Ambassadeur%20International_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Ambassadeur International_2024-2025 (A).pdf</a><span class="size">191 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_Animation_La Parenthèse_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2o_Animation_La%20Parenth%C3%A8se_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Animation_La Parenthèse_2024-2025 (A).pdf</a><span class="size">96 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_Animation des jardins partagés_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2o_Animation%20des%20jardins%20partag%C3%A9s_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Animation des jardins partagés_2024-2025 (A).pdf</a><span class="size">163 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_Buddy System_2024-2025 (SI).pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2o_Buddy%20System_2024-2025%20(SI).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Buddy System_2024-2025 (SI).pdf</a><span class="size">144 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_Consolider_Son_Projet_Avenir_2024-25(SI)_V2.pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2o_Consolider_Son_Projet_Avenir_2024-25(SI)_V2.pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Consolider_Son_Projet_Avenir_2024-25(SI)_V2.pdf</a><span class="size">109 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_CV &agrave; l'entretien maximisez vos chances_2024-2025 (SI&amp;SP).pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2o_CV%20%C3%A0%20l'entretien%20maximisez%20vos%20chances_2024-2025%20(SI&amp;SP).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_CV &agrave; l'entretien maximisez vos chances_2024-2025 (SI&amp;SP).pdf</a><span class="size">137 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_Eduquer aux sciences de fa&ccedil;on ludique_2024-2025 (SP).pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2o_Eduquer%20aux%20sciences%20de%20fa%C3%A7on%20ludique_2024-2025%20(SP).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Eduquer aux sciences de fa&ccedil;on ludique_2024-2025 (SP).pdf</a><span class="size">92 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_Graine d'entrepreneur_2024-2025 (SI).pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2o_Graine%20d'entrepreneur_2024-2025%20(SI).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Graine d'entrepreneur_2024-2025 (SI).pdf</a><span class="size">100 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_Soft Skills_2024-2025 (SI).pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2o_Soft%20Skills_2024-2025%20(SI).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Soft Skills_2024-2025 (SI).pdf</a><span class="size">70 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_Tuteur disciplinaire &amp; methodologique_2024-2025 (A)_V2.pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2o_Tuteur%20disciplinaire%20&amp;%20methodologique_2024-2025%20(A)_V2.pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Tuteur disciplinaire &amp; methodologique_2024-2025 (A)_V2.pdf</a><span class="size">93 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2O_Tuteurs d'orientation Angevins_ Accueillir, Témoigner et Echanger_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2O_Tuteurs%20d'orientation%20Angevins_%20Accueillir,%20T%C3%A9moigner%20et%20Echanger_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2O_Tuteurs d'orientation Angevins_ Accueillir, Témoigner et Echanger_2024-2025 (A).pdf</a><span class="size">82 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2O_Tuteurs d'orientation Expérimentés Campus Angers_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2O_Tuteurs%20d'orientation%20Exp%C3%A9riment%C3%A9s%20Campus%20Angers_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2O_Tuteurs d'orientation Expérimentés Campus Angers_2024-2025 (A).pdf</a><span class="size">79 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2O_Tuteurs d'orientation Expérimentés Campus Cholet_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2O_Tuteurs%20d'orientation%20Exp%C3%A9riment%C3%A9s%20Campus%20Cholet_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2O_Tuteurs d'orientation Expérimentés Campus Cholet_2024-2025 (A).pdf</a><span class="size">79 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2O_Tuteurs d&rsquo;orientation Choletais _Accueillir, Témoigner et Echanger_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2O_Tuteurs%20d%E2%80%99orientation%20Choletais%20_Accueillir,%20T%C3%A9moigner%20et%20Echanger_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2O_Tuteurs d&rsquo;orientation Choletais _Accueillir, Témoigner et Echanger_2024-2025 (A).pdf</a><span class="size">80 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_Valorisation engagement_2024-2025 (SI&amp;SP)_V2.pdf" href="/_resource/Documents/DEVE/E2O/Engagements%20%C3%A9tudiants/E2o_Valorisation%20engagement_2024-2025%20(SI&amp;SP)_V2.pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_Valorisation engagement_2024-2025 (SI&amp;SP)_V2.pdf</a><span class="size">138 Ko</span></span>
              </li>
            </ul>
          </li>
          <li>
            <i class="fa fa-folder-open-o"></i><span class="folder">Langues - Anjou Inter Langues</span><br />
            <ul>
              <li>
                <span class="file"><a title="AIL Info site.pdf" href="/_resource/Documents/DEVE/E2O/Langues%20-%20Anjou%20Inter%20Langues/AIL%20Info%20site.pdf?download=true"><i class="fa fa-file-pdf-o"></i>AIL Info site.pdf</a><span class="size">119 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="Allemand 24 25 impairs.pdf" href="/_resource/Documents/DEVE/E2O/Langues%20-%20Anjou%20Inter%20Langues/Allemand%2024%2025%20impairs.pdf?download=true"><i class="fa fa-file-pdf-o"></i>Allemand 24 25 impairs.pdf</a><span class="size">60 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="Arabe 24 25 impairs.pdf" href="/_resource/Documents/DEVE/E2O/Langues%20-%20Anjou%20Inter%20Langues/Arabe%2024%2025%20impairs.pdf?download=true"><i class="fa fa-file-pdf-o"></i>Arabe 24 25 impairs.pdf</a><span class="size">66 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="CALENDRIER AIL 2024 2025-2.pdf" href="/_resource/Documents/DEVE/E2O/Langues%20-%20Anjou%20Inter%20Langues/CALENDRIER%20AIL%202024%202025-2.pdf?download=true"><i class="fa fa-file-pdf-o"></i>CALENDRIER AIL 2024 2025-2.pdf</a><span class="size">142 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="Chinois 24 25 impairs.pdf" href="/_resource/Documents/DEVE/E2O/Langues%20-%20Anjou%20Inter%20Langues/Chinois%2024%2025%20impairs.pdf?download=true"><i class="fa fa-file-pdf-o"></i>Chinois 24 25 impairs.pdf</a><span class="size">90 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_AIL_Approfondissement_2023-2024 (A).pdf" href="/_resource/Documents/DEVE/E2O/Langues%20-%20Anjou%20Inter%20Langues/E2o_AIL_Approfondissement_2023-2024%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_AIL_Approfondissement_2023-2024 (A).pdf</a><span class="size">65 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="E2o_AIL_Initiation_2024-2025 (A).pdf" href="/_resource/Documents/DEVE/E2O/Langues%20-%20Anjou%20Inter%20Langues/E2o_AIL_Initiation_2024-2025%20(A).pdf?download=true"><i class="fa fa-file-pdf-o"></i>E2o_AIL_Initiation_2024-2025 (A).pdf</a><span class="size">64 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="Japonais 24 25 impairs.pdf" href="/_resource/Documents/DEVE/E2O/Langues%20-%20Anjou%20Inter%20Langues/Japonais%2024%2025%20impairs.pdf?download=true"><i class="fa fa-file-pdf-o"></i>Japonais 24 25 impairs.pdf</a><span class="size">96 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="Portugais 24 25 impairs.pdf" href="/_resource/Documents/DEVE/E2O/Langues%20-%20Anjou%20Inter%20Langues/Portugais%2024%2025%20impairs.pdf?download=true"><i class="fa fa-file-pdf-o"></i>Portugais 24 25 impairs.pdf</a><span class="size">76 Ko</span></span>
              </li>
              <li>
                <span class="file"><a title="Russe 24 25 impairs.pdf" href="/_resource/Documents/DEVE/E2O/Langues%20-%20Anjou%20Inter%20Langues/Russe%2024%2025%20impairs.pdf?download=true"><i class="fa fa-file-pdf-o"></i>Russe 24 25 impairs.pdf</a><span class="size">92 Ko</span></span>
              </li>
            </ul>
          </li>
          <li>
            <i class="fa fa-folder-open-o"></i><span class="folder">Sport</span><br />
          </li>
        </ul>
      </div>
    </div>
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N103CF" class="">
      <p>
        Les activités sportives sont proposées par le
        <dfn title="Service universitaire des activités physiques et sportives">Suaps</dfn>
        , le service des sports de l'
        <dfn title="Université d'Angers">UA</dfn>
        . <a href="/fr/vie-des-campus/sport/sport-evalue.html" class="simple">Plus d'infos sur les disciplines proposées et les modalités d'inscription</a>
      </p>
    </div>
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N1041A" class="even last">
      <div class="ametys-cms-content faq view-main wrapper">
        <div class="faq-description"></div>
        <div class="content-richtext-end">
          <!-- empty -->
        </div>
        <ul class="questions toggle-view">
          <li class="item first" data-date="" data-element="list-element" data-category="">
            <a name="content-nouvelle-faq-10610017431414760298303"></a>
            <h2 class="question">Combien d'E2O par année ?</h2>
            <div class="clear"></div>
            <div class="panel clearfix">
              <div class="answer">
                <p>Vous avez la possibilité de valider deux E2O sur le cycle licence :</p>
                <ul class="custom">
                  <li>
                    Un E2O en 1<sup>re</sup> ou en 2<sup>e</sup> année
                  </li>
                  <li>
                    Un E2O en 3<sup>e</sup> année
                  </li>
                </ul>
              </div>
              <div class="content-richtext-end">
                <!-- empty -->
              </div>
            </div>
          </li>
          <li class="item even" data-date="" data-element="list-element" data-category="">
            <a name="content-nouvelle-faq-10620017431414760298303"></a>
            <h2 class="question">&Eacute;valuation des E2O</h2>
            <div class="clear"></div>
            <div class="panel clearfix">
              <div class="answer">
                <ul class="custom">
                  <li>En contr&ocirc;le continu ou sur projet (consulter la fiche de l&rsquo;E2O envisagé)</li>
                  <li>Résultat sous la forme validé / non validé</li>
                  <li>
                    <strong>Bonus de + 0,5 points</strong> sur la <strong>moyenne de l'année</strong> et<strong>2 <dfn title="European credit transfer system ou Système européen de transfert et d&rsquo;accumulation de crédits, en fran&ccedil;ais.
Aidant &agrave; la comparaison des programmes d'études des différents pays de l'UE, le système facilite la reconnaissance des dipl&ocirc;mes, et favorise la mobilité des étudiants. Basé sur la charge de travail, il permet &agrave; un étudiant &agrave; temps plein d&rsquo;acquérir 30 ECTS par semestre validé.">ECTS</dfn></strong>
                    supplémentaires (au del&agrave; des 60 <dfn title="European credit transfer system ou Système européen de transfert et d&rsquo;accumulation de crédits, en fran&ccedil;ais.
Aidant &agrave; la comparaison des programmes d'études des différents pays de l'UE, le système facilite la reconnaissance des dipl&ocirc;mes, et favorise la mobilité des étudiants. Basé sur la charge de travail, il permet &agrave; un étudiant &agrave; temps plein d&rsquo;acquérir 30 ECTS par semestre validé.">ECTS</dfn>
                    de l'année)
                  </li>
                  <li>Il n'est pas possible de valider deux fois le m&ecirc;me E2O.</li>
                  <li>Le bonus est identique pour un E2o annuel ou un E2o semestriel.</li>
                  <li> Selon les règles de validations propres &agrave; chaque formation, le bonus ne compense pas nécessairement les socles fondamentaux ou disciplinaires.</li>
                </ul>
              </div>
              <div class="content-richtext-end">
                <!-- empty -->
              </div>
            </div>
          </li>
          <li class="item" data-date="" data-element="list-element" data-category="">
            <a name="content-nouvelle-faq-10630017431414760298303"></a>
            <h2 class="question">Organisation</h2>
            <div class="clear"></div>
            <div class="panel clearfix">
              <div class="answer">
                <ul class="custom">
                  <li>Une organisation spécifique est prévue pour chaque E2O (créneau horaire, calendrier)</li>
                  <li>Certains E2O peuvent impliquer un suivi &agrave; l&rsquo;année obligatoire (Vox campus, Anjou Inter Langues&hellip;)</li>
                  <li>Les fiches de présentations précisent si l'E2o est annuel ou semestriel. Une indication est fournie dans le titre des fiches (A - SI - SP)</li>
                </ul>
                <p class="secondary">Assurez vous de la compatibilité de votre emploi du temps avec le calendrier de l'E2o choisi.</p>
              </div>
              <div class="content-richtext-end">
                <!-- empty -->
              </div>
            </div>
          </li>
          <li class="item even" data-date="" data-element="list-element" data-category="">
            <a name="content-nouvelle-faq-10640017431414760298303"></a>
            <h2 class="question">Quand et comment s'inscrire ?</h2>
            <div class="clear"></div>
            <div class="panel clearfix">
              <div class="answer">
                <p>
                  Par Internet, via le <a href="https://ent.univ-angers.fr/etudiant.html" class="external" target="_blank">guichet des services numériques</a>, rubrique Inscriptions pédagogiques :
                </p>
                <ul class="square">
                  <li>
                    Semestre impair et E2O sur l'année : <strong>du 23 septembre 2024 matin jusqu'au 27 septembre 2024 inclus</strong>
                  </li>
                  <li>
                    Semestre pair : <strong>du 13 janvier 2025 matin jusqu'au 17 janvier 2025 inclus</strong>
                  </li>
                </ul>
                <p> </p>
                <p>Si vous avez fait un E2o au premier semestre, vous ne devez pas vous inscrire sur un autre E2o au second semestre.</p>
                <p>Validez bien l'ensemble des étapes de l'inscription pédagogique jusqu'au bout pour que votre inscription soit prise en compte.</p>
              </div>
              <div class="content-richtext-end">
                <!-- empty -->
              </div>
            </div>
          </li>
          <li class="item last" data-date="" data-element="list-element" data-category="">
            <a name="content-nouvelle-faq-10650017431414760298303"></a>
            <h2 class="question">Calendrier des activités</h2>
            <div class="clear"></div>
            <div class="panel clearfix">
              <div class="answer">
                <p>
                  Les E2o débutent début octobre au premier semestre la semaine du 7 octobre 2024 (ou du 14 octobre pour les activités du
                  <dfn title="Service universitaire des activités physiques et sportives">SUAPS</dfn>
                  ), au second semestre la semaine du 27 janvier 2025.
                </p>
                <p>Consultez la fiche de chaque E2o pour avoir l'information précise. N'hésitez pas &agrave; contacter le référent de l'E2o indiqué sur la fiche pour plus de renseignement.</p>
                <p class="secondary" style="text-align: center;">Attention, certains E2o peuvent avoir un calendrier particulier :</p>
                <p class="secondary">
                  <strong>Les cours d'Anjou Inter Langues débutent le 16 septembre 2024.</strong> Si vous souhaitez suivre un cours de langue avec AIL, dans le cadre d'un E2o, vous devez d'abord débuter les cours avec AIL et ensuite vous inscrire &agrave; l'E2o correspondant lors de la campagne d'inscription.
                </p>
                <p class="secondary">
                  <strong>Vox Campus</strong> organise des <strong>auditions</strong>pour intégrer le ch&oelig;ur et l'orchestre t<strong>out au long du mois de septembre.</strong>
                </p>
              </div>
              <div class="content-richtext-end">
                <!-- empty -->
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'vous-etes/etudiant/_sidemenu.html' %}
  <div class="g-bg-gris-f-ua g-shadow-block-gris-c-ua-md g-pa-25 g-mr-25--xl">
    <div data-ametys-zone="zone-1" id="ametys-cms-zone-zone-1">
      <div data-ametys-zone-level="1" id="ametys-cms-zone-zone-1-item-N106B9" class="first">
        <h1 class="art-postheader"><span class="content-title summary">Anjou Inter Langues</span></h1>
        <p>Anjou Inter Langues (AIL) est une association d'établissements d'enseignement supérieur de l'agglomération angevine, dont l'Université d'Angers est membre.</p>
        <p>
          Elle permet &agrave; tous les étudiants de l'
          <dfn title="Université d'Angers">UA</dfn>
          d'apprendre ou de se perfectionner gratuitement dans une dizaine de langues vivantes proposées.
        </p>
        <p style="text-align: center;">
          <a href="http://www.anjouinterlangues.fr/" class="external" target="_blank">http://www.anjouinterlangues.fr/</a>
        </p>
        <p style="text-align: center;"> </p>
        <p style="text-align: justify;">
          <strong>Rentrée 2023</strong>, en raison d'un problème technique sur le site internet d'AIL, vous pouvez vous rendre directement au premier cours sans vous inscrire sur leur site au préalable.
        </p>
        <p style="text-align: justify;">Les cours débutent le lundi 18 septembre (cf calendrier dans les documents &agrave; télécharger).</p>
      </div>
      <div data-ametys-zone-level="1" id="ametys-cms-zone-zone-1-item-N10715" class="even last">
        <h1 class="art-postheader"><span class="content-title summary">Sportifs de haut niveau</span></h1>
        <p>Si vous bénéficiez du statut de sportif de haut niveau, vous avez la possibilité de valider, sous certaines conditions, un E2o.</p>
        <p>
          Conditions d'inscription et modalités de validation, auprès des référents sportifs de haut niveau de l'
          <dfn title="Université d'Angers">UA</dfn>
          (Guillaume Duron ou Yann Leroux).
        </p>
        <p>
          <a href="http://www.univ-angers.fr/fr/vie-des-campus/sport/sportifs-de-haut-niveau.html" class="external" target="_blank">Renseignements</a>
        </p>
        <p>
          <a href="http://www.anjouinterlangues.fr/" class="external" target="_blank"></a>
        </p>
      </div>
    </div>
  </div>
  <div class="g-py-80">
    <div class="g-bg-gris-f2-ua h-100 g-font-ua-poppins-semibold">
      <div data-ametys-zone="zone-2" id="ametys-cms-zone-zone-2"></div>
    </div>
  </div>
{% endblock %}
