{% extends 'layout/master/child-content.html' %}

{% block title %}
  Examens
{% endblock %}

{% block main_image %}
  <img class="img-fluid w-100" src="https://www.univ-angers.fr/_resource/Pages_Bandeau_Illustration/Illustration_etudiants2.jpg" alt="" />
{% endblock %}

{% block fil_d_ariane %}
  <div class="ml-auto text-uppercase g-font-ua-poppins-semibold g-font-size-12 g-pt-5 g-hidden-sm-down">
    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-5">
        <span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="/fr/vous-etes.html">Vous &ecirc;tes</a>
      </li>
      <li class="list-inline-item g-mr-5">
        <span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="/fr/vous-etes/etudiant-e.html">&Eacute;tudiant</a>
      </li>
      <li class="list-inline-item g-color-bleu-ua">
        <span class="g-mr-5">&gt;</span><span>Examens</span>
      </li>
    </ul>
  </div>
{% endblock %}

{% block data %}
  <div data-ametys-zone="default" id="ametys-cms-zone-default">
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N100A0" class="first ">
      <div class="ametys-cms-content article view-main wrapper">
        <h1 class="art-postheader">
          <span class="content-title summary">Modalités d'examens</span>
        </h1>
        <p>&nbsp;</p>
        <p>
          Les modalités d'examens sont régies par des règles définies dans des <strong>textes nationaux </strong>(décret, circulaires, fiche technique du ministère...) ainsi que dans des <strong>textes internes &agrave; l'Université d'Angers élaborés et votés par la </strong> <acronym
            title="commission de la formation et de la vie étudiante"> <strong><dfn title="Commission de la Formation et de la Vie universitaire">CFVU</dfn> </strong>
          </acronym>qui comprend des enseignants et aussi des étudiants.
        </p>
        <a name="N10060"></a><a name="N10062"></a>
        <h3 class="ametys-richtext-title-2">Mémo des examens</h3>
        <p>&Eacute;laboré chaque année, ce mémo réuni l'ensemble des textes liés aux examens. Vous y trouverez des informations sur :</p>
        <ul class="disc">
          <li><strong>Les modalités de contr&ocirc;le de connaissance </strong>(session, validation, compensation, assiduité...)</li>
          <li><strong>L'organisation des examens</strong> (conditions d'examen, jury, communication des résultats, candidats présentant un handicap...)</li>
          <li><strong>La délivrance des dipl&ocirc;mes</strong></li>
          <li style="text-align: left;"><strong>La procédure disciplinaire </strong>(fraude aux examens...)</li>
        </ul>
        <p style="text-align: right;">
          <em>mis en ligne le 25/08/2023</em>
        </p>
        <p class="important">
          <a href="/_attachment/examens-article-2/M%C3%A9mo%20%C3%A9tudiants%20pagin%C3%A9.pdf?download=true" class="download"> <strong>Télécharger le mémo des examens</strong> <strong>2023-2024</strong>
          </a>
        </p>
        <div class="content-richtext-end">
          <!--empty-->
        </div>
        <div class="meta"></div>
      </div>
    </div>
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N101F0" class="even last">
      <div class="ametys-cms-content article view-main wrapper">
        <h1 class="art-postheader">
          <span class="content-title summary">Engagement de non plagiat</span>
        </h1>
        <p>
          L'engagement de non plagiat doit &ecirc;tre inséré en première page de tous les <strong>rapports, dossiers et mémoires </strong>réalisés dans le cadre de vos études &agrave; l'Université d'Angers.
        </p>
        <p class="important">
          <br /> <strong> <a href="/_attachment/examens-article-3/charte%20antiplagiat%20valid%C3%A9e.pdf?download=true" title="Télécharger la charte anti-plagiat" class="download" target="_blank">Télécharger la charte anti-plagiat</a> <br /> <br /> <a href="/_attachment/examens-article-3/engagement_non_plagiat.pdf?download=true"
            title="Télécharger l'engagement de non plagiat" class="download" target="_blank">Télécharger l'engagement de non plagiat</a>
          </strong>
        </p>
        <p>
          <a href="/fr/vous-etes/etudiant-e/examens/plagiat.html" class="btn know-more"><strong>Et vous, vous en &ecirc;tes o&ugrave; avec le plagiat ?</strong></a>
        </p>
        <div class="content-richtext-end">
          <!--empty-->
        </div>
        <div class="meta"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'vous-etes/etudiant/_sidemenu.html' %}
  <div class="g-bg-gris-f-ua g-shadow-block-gris-c-ua-md g-pa-25 g-mr-25--xl">
    <div data-ametys-zone="zone-1" id="ametys-cms-zone-zone-1">
      <div data-ametys-zone-level="1" id="ametys-cms-zone-zone-1-item-N102E9" class="first ">
        <div class="ametys-cms-content article view-main wrapper">
          <h1 class="art-postheader">
            <span class="content-title summary">Contact</span>
          </h1>
          <p>
            <a id="M802439509375177">examen<span style="position: absolute; left: -1000px; top: -1000px;"> </span>@<span style="position: absolute; left: -1000px; top: -1000px;"> </span>contact.univ-angers.fr<span id="M3082568027776136" style="display: none;"> (examen<span style="position: absolute; left: -1000px; top: -1000px;"> </span>@<span
                style="position: absolute; left: -1000px; top: -1000px;"> </span>contact.univ-angers.fr)
            </span></a>
            <script type="text/javascript">
             var a = document.createElement('a');
             var div = document.getElementById('M802439509375177');
             div.parentNode.insertBefore(a, div);

             while (div.childNodes.length > 1) {
              a.appendChild(div.childNodes[0]);
             }

             div.parentNode.removeChild(div);

             var M604215555048447 = "examen";
             M604215555048447 += "@";
             M604215555048447 += "contact.univ-angers.fr";

             a.setAttribute('href', 'mailto:' + M604215555048447);
            </script>
          </p>
          <div class="content-richtext-end">
            <!--empty-->
          </div>
          <div class="meta"></div>
        </div>
      </div>
      <div data-ametys-zone-level="1" id="ametys-cms-zone-zone-1-item-N103CF" class="even last">
        <div class="ametys-cms-content article view-main wrapper">
          <h1 class="art-postheader">
            <span class="content-title summary">L'appli UA</span>
          </h1>
          <p>
            <span class="image-wrapper simple floatleft" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/nouvel-article-1026/_attribute/content/_data/appli_97x152.png" alt="" width="152" height="97" /></span>Emploi du temps, notifications, RV Infocampus, actus... Retrouvez les services essentiels sur
            l'appli mobile
            <dfn title="Université d'Angers">UA</dfn>
            .
          </p>
          <ul class="arrow">
            <li><a href="https://apps.apple.com/fr/app/univangers/id1463392535" class="simple" target="_blank">AppStore</a>&nbsp;&nbsp;</li>
            <li><a href="https://play.google.com/store/apps/details?id=com.appscho.appschov2.univangers&amp;gl=FR" class="simple" target="_blank">Google Play</a></li>
          </ul>
          <div class="content-richtext-end">
            <!--empty-->
          </div>
          <div class="meta"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="g-py-80">
    <div class="g-bg-gris-f2-ua h-100 g-font-ua-poppins-semibold">
      <div data-ametys-zone="zone-2" id="ametys-cms-zone-zone-2"></div>
    </div>
  </div>
{% endblock %}
