{% extends 'layout/master/child-content.html' %}

{% block title %}
  Inscription administrative
{% endblock %}

{% block main_image %}
  <img class="img-fluid w-100" src="https://www.univ-angers.fr/_resource/Pages_Bandeau_Illustration/Illustration_etudiants2.jpg" alt="" />
{% endblock %}

{% block fil_d_ariane %}
  <div class="ml-auto text-uppercase g-font-ua-poppins-semibold g-font-size-12 g-pt-5 g-hidden-sm-down">
    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-5">
        <span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="/fr/vous-etes.html">Vous êtes</a>
      </li>
      <li class="list-inline-item g-mr-5">
        <span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="/fr/vous-etes/etudiant-e.html">&Eacute;tudiant</a>
      </li>
      <li class="list-inline-item g-mr-5">
        <span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="/fr/vous-etes/etudiant-e/scolarite.html">Scolarité</a>
      </li>
      <li class="list-inline-item g-color-bleu-ua">
        <span class="g-mr-5">&gt;</span><span>Inscription administrative</span>
      </li>
    </ul>
  </div>
{% endblock %}

{% block data %}
  <div data-ametys-zone="default" id="ametys-cms-zone-default">
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N100A1" class="first last">
      <div class="ametys-cms-content article view-main wrapper">
        <h1 class="art-postheader"><span class="content-title summary">Inscription administrative</span></h1>
        <p class="introduction">Pour chaque formation, les conditions d'admission sont renseignées dans l'onglet &quot;Admission&quot; de nos fiches de formations.</p>
        <p class="introduction" style="text-align: center;">
          <a href="https://formations.univ-angers.fr/fr/index.html" title="Catalogue de formations de l'unviersité d'angers" class="btn know-more">Consultez notre catalogue de formation</a>
        </p>
        <p class="introduction" style="text-align: left;">Tout étudiant.e qui désire s'inscrire à l'Université d'Angers pour suivre des activités d'enseignement et de recherche doit prendre une inscription administrative.</p>
        <p style="text-align: left;">
          <strong>Cette inscription est annuelle et à renouveler en début d'année universitaire.</strong>
        </p>
        <ul class="arrow">
          <li>
            <a href="/fr/vous-etes/etudiant-e/carte-pass-sup.html" class="simple">Carte d'étudiant</a>- Chaque étudiant.e régulièrement inscrit.e se voit délivrer une carte d&rsquo;étudiant qui justifie son statut et donne accès aux locaux de l&rsquo;université.<br />
            <br />
          </li>
          <li>
            <a href="javascript:void(0);" class="simple">Droits de scolarité</a> - L&rsquo;inscription administrative est subordonnée au paiement de droits de scolarité dont le montant est fixé par arrêté ministériel. Les boursier.ière.s de l&rsquo;&Eacute;tat, les réfugié.e.s et les pupilles de la nation sont exonéré.e.s du paiement de ces droits. Depuis 2018, la cotisation de sécurité sociale est supprimée pour tous les étudiant.e.s.<br />
            <br />
          </li>
          <li style="text-align: left;">
            <a href="javascript:void(0);" class="simple">Paiement de la CVEC</a> - Depuis la rentrée 2018, la Contribution de Vie Etudiante et de Campus remplace les droits de <dfn title="Fonds de solidarité et de développement des initiatives étudiantes">FSDIE</dfn> et de médecine préventive, elle doit être acquittée auprès du <dfn title="Centre régional des &oelig;uvres universitaires et scolaires. Il gère notamment les restaurants universitaires et certaines résidences étudiantes. ">CROUS</dfn> de Nantes avant l'inscription à l'université. Une attestation et un numéro de quittance seront délivrés après paiement, ils seront exigés et contr&ocirc;lés pour s'inscrire à l&rsquo;université. Les personnes boursières sur critères sociaux seront exonérées de la CVEC et se verront délivrer l'attestation de quittance sans avoir à payer. (Plus d'infos dans l'encadré à droite).
          </li>
        </ul>
        <p style="text-align: center;">
          <a href="https://www.messervices.etudiant.gouv.fr/" class="btn know-more" target="_blank">S'acquitter de la CVEC</a>
        </p>
        <p>&nbsp;</p>
        <a name="N1007A"></a>
        <h2 class="ametys-richtext-title-1">Annulation d'inscription administrative</h2>
        <p>
          Conformément aux dispositions réglementaires et aux dispositions votées à la Commission de la Formation et de la Vie Universitaires, <strong>en cas de démission</strong> <strong>entre le 1er septembre et le 4 octobre 2024,</strong> le remboursement des droits de scolarité ne sera possible <strong>que sur demande et sur critères spécifiques :</strong>
        </p>
        <ul class="disc">
          <li>Maladie, accident, hospitalisation ou maternité entra&icirc;nant une interruption des études pendant au moins quatre mois.</li>
          <li>Réussite à un concours, à une sélection d&rsquo;entrée ou&nbsp; à un examen&nbsp; entra&icirc;nant l&rsquo;interruption des études à l'université d'Angers.</li>
          <li>Changement d'orientation ou de projet personnel, sur demande d&ucirc;ment motivée et justificatif.</li>
        </ul>
        <p>
          <a href="https://fua.univ-angers.fr/fua/Formulaire/AfficherFormulaire?idE=89BE8FD56C7B20BBEEC495E69B74461E" class="external" target="_blank">Formulaire de saisie (à partir du 3 septembre 2024)</a>
        </p>
        <p>
          <strong>Aucun remboursement de droits d'inscription pour annulation ne sera effectué après le 4 octobre 2024.</strong>
        </p>
        <p>
          <a href="http://bu.univ-angers.fr/" class="external"><em>quitus</em>de la bibliothèque universitaire est à demander ici</a><em><br /></em>
        </p>
        <p>&nbsp;</p>
        <a name="N100AF"></a>
        <h2 class="ametys-richtext-title-1">Inscription pédagogique</h2>
        <p>
          <strong>Elle correspond à l&rsquo;inscription aux différents enseignements pour lesquels vous passerez un examen.</strong>Cette inscription se fait auprès de votre <a href="http://www.univ-angers.fr/fr/acces-directs/facultes-et-instituts.html" class="invisible">composante</a> après la rentrée universitaire.
        </p>
        <p>&nbsp;</p>
        <a name="N100BE"></a>
        <h2 class="ametys-richtext-title-1" style="text-align: left;">Réinscription administrative par internet</h2>
        <p style="text-align: left;">
          Avant de vous réinscrire, vous devez être en possession de l'attestation de quittance de la <strong>Contribution de Vie Etudiante et de Campus (CVEC),</strong> qui remplace les droits de
          <dfn title="Fonds de solidarité et de développement des initiatives étudiantes">FSDIE</dfn>
          et de médecine préventive. Cette attestation est délivrée par le
          <dfn title="Centre régional des &oelig;uvres universitaires et scolaires. Il gère notamment les restaurants universitaires et certaines résidences étudiantes. ">CROUS</dfn>
          de Nantes après paiement de la CVEC ou gratuitement pour les personnes boursières sur critères sociaux. L'attestation et le numéro de quittance seront exigés et contr&ocirc;lés lors de la réinscription à l'université.
        </p>
        <p style="text-align: center;">
          <a href="javascript:void(0);" class="btn know-more">En savoir plus ou s'acquitter de la CVEC</a>
        </p>
        <p style="text-align: left;">
          Pour vous réinscrire, à partir du<strong>4 juillet 2024 à 12h</strong>, connectez-vous sur l&rsquo;<a href="http://www.univ-angers.fr/ent" class="external"><acronym title="Espace numérique de travail">ENT</acronym></a> cliquez sur l&rsquo;onglet &quot;<strong>Scolarité</strong>&quot; puis sur &quot;<strong>mes inscription</strong>s&quot; (attention, ce service sera interrompu du 19 juillet à 12h au 21 Ao&ucirc;t à 12h).
        </p>
        <p style="text-align: left;">
          Toutes les <a href="http://www.univ-angers.fr/fr/universite/facultes-et-instituts.html" class="invisible">composantes</a> proposent une réinscription administrative par internet à l&rsquo;exception des formations de la <a href="http://www.univ-angers.fr/fr/profils/etudiant/scolarite/inscriptions.html" class="invisible">Direction de la Formation Continue</a> et de quelques filières (dans ce cas, prendre contact avec le service scolarité concerné).
        </p>
        <p style="text-align: left;">
          <strong>Attention !</strong> Le mode de paiement des réinscriptions par le web est la <strong>carte bancaire.</strong>
        </p>
        <div class="content-richtext-end">
          <!-- empty -->
        </div>
        <div class="meta"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'vous-etes/etudiant/_sidemenu.html' %}
  <div class="g-bg-gris-f-ua g-shadow-block-gris-c-ua-md g-pa-25 g-mr-25--xl">
    <div data-ametys-zone="zone-1" id="ametys-cms-zone-zone-1">
      <div data-ametys-zone-level="1" id="ametys-cms-zone-zone-1-item-N1023F" class="first">
        <h1 class="art-postheader"><span class="content-title summary">Qu'est-ce que la CVEC ?</span></h1>
        <p>
          La Contribution de vie étudiante et de campus (CVEC) est une contribution financière obligatoire due par les étudiants et collectée par les
          <dfn title="Centre régional des &oelig;uvres universitaires et scolaires. Il gère notamment les restaurants universitaires et certaines résidences étudiantes. ">Crous</dfn>
          . Elle permet de financer des projets variés liés à la vie de campus et à l'amélioration des conditions de vie et d&rsquo;étude.
        </p>
        <p>
          <a href="https://cvec.etudiant.gouv.fr/" class="external" target="_blank">En savoir +</a>
        </p>
      </div>
      <div data-ametys-zone-level="1" id="ametys-cms-zone-zone-1-item-N1028D" class="even last">
        <h1 class="art-postheader"><span class="content-title summary">Bilan des actions financées en 2022 à l'UA</span></h1>
        <p>A l'Université d'Angers, la CVEC représente une recette d'environ 1,5 millions d'euros.</p>
        <p>Consultez le bilan :</p>
        <p>
          <a href="/_plugins/flipbook/www/_attachments-flipbook/nouveau-contenu-simple-1546/CVEC_bilan2022.pdf/_contents/ametys-internal%253Asites/www/ametys-internal%253Acontents/nouveau-contenu-simple-1546/ametys-internal%253Aattachments/CVEC_bilan2022.pdf/book.html" title="CVEC_bilan2022.pdf" class="simple" target="_blank"><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/nouveau-contenu-simple-1546/_attribute/content/_data/Bilan%20CVEC%202022%20-%20UA_176x275.jpg" alt="" width="275" height="176" /></span></a>
        </p>
      </div>
    </div>
  </div>
  <div class="g-py-80">
    <div class="g-bg-gris-f2-ua h-100 g-font-ua-poppins-semibold">
      <div data-ametys-zone="zone-2" id="ametys-cms-zone-zone-2"></div>
    </div>
  </div>
{% endblock %}
