{% extends 'layout/master/child-content.html' %}

{% block title %}
  Stages
{% endblock %}

{% block main_image %}
  <img class="img-fluid w-100" src="https://www.univ-angers.fr/_resource/Pages_Bandeau_Illustration/Illustration_etudiants2.jpg" alt="" />
{% endblock %}

{% block fil_d_ariane %}
  <div class="ml-auto text-uppercase g-font-ua-poppins-semibold g-font-size-12 g-pt-5 g-hidden-sm-down">
    <ul class="u-list-inline">
      <li class="list-inline-item g-mr-5">
        <span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="/fr/vous-etes.html">Vous êtes</a>
      </li>
      <li class="list-inline-item g-mr-5">
        <span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="/fr/vous-etes/etudiant-e.html">&Eacute;tudiant</a>
      </li>
      <li class="list-inline-item g-color-bleu-ua">
        <span class="g-mr-5">&gt;</span><span>Stages</span>
      </li>
    </ul>
  </div>
{% endblock %}

{% block data %}
  <div data-ametys-zone="default" id="ametys-cms-zone-default">
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N100A0" class="first last">
      <div class="ametys-cms-content article view-main wrapper">
        <h1 class="art-postheader"><span class="content-title summary">Stages</span></h1>
        <a name="N1004C"></a><a name="N1004E"></a>
        <h3 class="ametys-richtext-title-2">Vous êtes étudiant.e à l'Université d'Angers et vous partez en stage?</h3>
        <p class="secondary">Lorsque vous partez en stage dans le cadre de vos études, il est obligatoire d'établir votre convention de stage.</p>
        <p>Pour entamer cette démarche, vous devez impérativement être inscrit.e administrativement et avoir acquitté vos droits universitaires au sein de l'université d'Angers.</p>
        <p>Seule la convention de stage a une portée juridique et autorise votre départ en stage.</p>
        <a name="N10058"></a>
        <h3 class="ametys-richtext-title-2">Afin d'établir votre demande et votre convention :</h3>
        <ol class="arabic">
          <li>
            <a href="https://www.youtube.com/watch?v=kDoK-wevSuc" class="external" target="_blank">Consultez le tutoriel</a>
          </li>
          <li>
            Complétez votre dossier dans votre <a href="http://ent.univ-angers.fr/etudiant.html" class="external" target="_blank">ENT</a> - onglet Insertion pro/stage -&nbsp; Ip'Oline.
          </li>
        </ol>
        <p>Cette saisie pourra être reprise et complétée jusqu'à validation par votre responsable pédagogique de la formation ou par votre enseignant tuteur.</p>
        <p>Pour la suite donnée à votre demande de stage et à l'édition de la convention, contactez le service des stages de votre scolarité.</p>
        <a name="N10074"></a>
        <h3 class="ametys-richtext-title-2">Réglementation</h3>
        <p>Pour en savoir plus sur les stages, vous pouvez consulter :</p>
        <ul class="arrow">
          <li>
            <a href="/_plugins/flipbook/www/_attachments-flipbook/stages-article/Charte%20des%20stages_VF.pdf/_contents/ametys-internal%253Asites/www/ametys-internal%253Acontents/stages-article/ametys-internal%253Aattachments/Charte%20des%20stages_VF.pdf/book.html" title="Charte des stages_VF.pdf" target="_blank">Guide des stages UA</a>
          </li>
          <li>
            <a href="https://www.enseignementsup-recherche.gouv.fr/pid32310/guide-pratique-des-stages-etudiants.html" class="external" target="_blank">Guide des stages du Minist&egrave;re en charge de l'enseignement supérieur</a>
          </li>
        </ul>
        <div class="content-richtext-end">
          <!-- empty -->
        </div>
        <div class="meta"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'vous-etes/etudiant/_sidemenu.html' %}
  <div class="g-py-80">
    <div class="g-bg-gris-f2-ua h-100 g-font-ua-poppins-semibold">
      <div data-ametys-zone="zone-2" id="ametys-cms-zone-zone-2"></div>
    </div>
  </div>
{% endblock %}
