{% extends 'layout/master/child-content.html' %}

{% block title %}
    Entreprise / Partenaire
{% endblock %}

{% block main_image %}
    <img class="img-fluid w-100" src="https://www.univ-angers.fr/_resource/Pages_Bandeau_Illustration/Illustration_forumpro.jpg" alt="" />
{% endblock %}

{% block fil_d_ariane %}
    <div class="ml-auto text-uppercase g-font-ua-poppins-semibold g-font-size-12 g-pt-5 g-hidden-sm-down">
        <ul class="u-list-inline">
            <li class="list-inline-item g-mr-5"><span class="g-mr-5">&gt;</span><a class="u-link-v5 g-color-main g-color-bleu-ua--hover" href="{% url 'vous-etes:futur-etudiant:index' %}">Vous êtes</a>
            </li>
            <li class="list-inline-item g-color-bleu-ua"><span class="g-mr-5">&gt;</span><span>Entreprise / Partenaire</span></li>
        </ul>
    </div>
{% endblock %}

{% block data %}
    <div data-ametys-zone="default" id="ametys-cms-zone-default">
        <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N100B2" class="first last">
            <div class="ametys-cms-service filtered-contents filtered-contents-link wrapper">
                <script type="text/javascript">
                    var pagination_fc_3553874895587996 = ['1'];
                </script>
                <div class="row" id="fc_3553874895587996-part-1">
                    <div class="col-lg-6 g-mb-30 g-px-20">
                        <div class="ametys-cms-content article view-link wrapper">
                            <article class="text-center g-color-white g-overflow-hidden">
                                <div data-bg-img-src="https://www.univ-angers.fr/_object/ametys-internal%253Asites/www/ametys-internal%253Acontents/taxe-d-apprentissage-article/_attribute/illustration/image/MicrosoftTeams-image%20(21).png?objectId=defaultWebContent://750f4ce5-77ed-4ab5-aa28-dc58f805ea24"
                                    class="u-block-hover--scale  g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5">
                                    <div class=" g-pos-rel g-z-index-1 g-py-120 g-px-20">
                                        <h2 class="text-uppercase g-color-white g-font-size-18">Versement de la taxe d&#039;apprentissage via Solt&eacute;a</h2><a
                                            href="/fr/vous-etes/entreprise/soutenir-l-universite.html" class="u-btn-link-white g-font-weight-600 g-font-size-11">&gt; En savoir plus</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-6 g-mb-30 g-px-20">
                        <div class="ametys-cms-content article view-link wrapper">
                            <article class="text-center g-color-white g-overflow-hidden">
                                <div data-bg-img-src="https://www.univ-angers.fr/_resource/Fonds%20illu%20article/motifs/motifs_400x400px_13.png"
                                    class="u-block-hover--scale  g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5">
                                    <div class=" g-pos-rel g-z-index-1 g-py-120 g-px-20">
                                        <h2 class="text-uppercase g-color-white g-font-size-18">Travailler avec l&#039;UA</h2><a
                                            href="/fr/vous-etes/entreprise/travailler-avec-l-universite.html" class="u-btn-link-white g-font-weight-600 g-font-size-11">&gt; En savoir
                                            plus</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-6 g-mb-30 g-px-20">
                        <div class="ametys-cms-content article view-link wrapper">
                            <article class="text-center g-color-white g-overflow-hidden">
                                <div data-bg-img-src="https://www.univ-angers.fr/_resource/Fonds%20illu%20article/motifs/motifs_400x400px_13.png"
                                    class="u-block-hover--scale  g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5">
                                    <div class=" g-pos-rel g-z-index-1 g-py-120 g-px-20">
                                        <h2 class="text-uppercase g-color-white g-font-size-18">Se former &agrave; titre professionnel</h2><a
                                            href="/fr/formations/se-former-a-titre-professionnel.html" class="u-btn-link-white g-font-weight-600 g-font-size-11">&gt; En savoir plus</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-6 g-mb-30 g-px-20">
                        <div class="ametys-cms-content article view-link wrapper">
                            <article class="text-center g-color-white g-overflow-hidden">
                                <div data-bg-img-src="https://www.univ-angers.fr/_resource/Fonds%20illu%20article/bleuua.png"
                                    class="u-block-hover--scale  g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5">
                                    <div class=" g-pos-rel g-z-index-1 g-py-120 g-px-20">
                                        <h2 class="text-uppercase g-color-white g-font-size-18">Recruter un alternant ou un stagiaire</h2><a
                                            href="/fr/vous-etes/entreprise/recruter-un-alternant-ou-un-stagiaire.html" class="u-btn-link-white g-font-weight-600 g-font-size-11">&gt; En
                                            savoir plus</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-6 g-mb-30 g-px-20">
                        <div class="ametys-cms-content article view-link wrapper">
                            <article class="text-center g-color-white g-overflow-hidden">
                                <div data-bg-img-src="https://www.univ-angers.fr/_resource/Fonds%20illu%20article/motifs/motifs_400x400px_18.png"
                                    class="u-block-hover--scale  g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5">
                                    <div class=" g-pos-rel g-z-index-1 g-py-120 g-px-20">
                                        <h2 class="text-uppercase g-color-white g-font-size-18">Le service sanitaire</h2><a
                                            href="/fr/acces-directs/facultes-et-instituts/faculte-de-sante/service-sanitaire.html"
                                            class="u-btn-link-white g-font-weight-600 g-font-size-11">&gt; En savoir plus</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-6 g-mb-30 g-px-20">
                        <div class="ametys-cms-content article view-link wrapper">
                            <article class="text-center g-color-white g-overflow-hidden">
                                <div data-bg-img-src="https://www.univ-angers.fr/_resource/Fonds%20illu%20article/motifs/motifs_400x400px_1.png"
                                    class="u-block-hover--scale  g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5">
                                    <div class=" g-pos-rel g-z-index-1 g-py-120 g-px-20">
                                        <h2 class="text-uppercase g-color-white g-font-size-18">Innover avec l&#039;UA</h2><a href="/fr/recherche/innovation.html"
                                            class="u-btn-link-white g-font-weight-600 g-font-size-11">&gt; En savoir plus</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <script type="text/javascript"></script>
                <div class="">
                    <div class="text-center pages">
                        <script type="text/javascript">
                            pagination_fc_3553874895587996_current = 0;
                            var paginationLength = pagination_fc_3553874895587996.length;
                            if (paginationLength > 1) {
                                document.write("<nav class='pages' aria-label='Page Navigation'><ul class='list-inline'><li class='list-inline-item' id='content_filter_prev_47295513471880124fc_3553874895587996' style='display: none;' class='precede'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19 ' type='submit' onclick='try { show_fc_3553874895587996(\"prev\"); } catch(e) {} return false;' value='<'/></li>");

                                var firstLastCls = '';
                                for (var i = 0; i < paginationLength; i++) {
                                    firstLastCls = i == 0 ? 'first' : (i == paginationLength - 1 ? 'last' : '');
                                    document.write("<li id='content_filter_47295513471880124fc_3553874895587996" + i + "_button' style='display: " + (i == 0 ? 'none' : '') + (firstLastCls ? ("' class='list-inline-item " + firstLastCls + "'") : "' class='list-inline-item'") + "'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19' type='submit' onclick='try { show_fc_3553874895587996(" + i + "); } catch(e) {} return false;' value='" + (i + 1) + "'/></li>");
                                    document.write("<li id='content_filter_47295513471880124fc_3553874895587996" + i + "' style='display: " + (i != 0 ? 'none' : '') + "' class='list-inline-item current" + (firstLastCls ? (' ' + firstLastCls) : '') + "'><span class='u-pagination-v1__item u-pagination-ua g-pa-12-19 current'>" + (i + 1) + "</span></li>");
                                }
                                document.write("<li id='content_filter_next_47295513471880124fc_3553874895587996' class='list-inline-item next'><input class='u-pagination-v1__item u-pagination-ua g-pa-12-19' type='submit' onclick='try { show_fc_3553874895587996(\"next\"); } catch(e) {} return false;' value='>'/></li></ul></nav><div style='clear: both;'></div>");

                                try {
                                    show_fc_3553874895587996_buttonsid
                                }
                                catch (e) {
                                    show_fc_3553874895587996_buttonsid = [];
                                }

                                show_fc_3553874895587996_buttonsid.push("47295513471880124")
                                function show_fc_3553874895587996(count) {
                                    if (count == 'next') {
                                        count = pagination_fc_3553874895587996_current + 1;
                                    }
                                    else if (count == 'prev') {
                                        count = pagination_fc_3553874895587996_current - 1;
                                    }

                                    pagination_fc_3553874895587996_current = count;

                                    for (const element of show_fc_3553874895587996_buttonsid) {
                                        var id = element;

                                        for (var i = 0; i < pagination_fc_3553874895587996.length; i++) {
                                            if (i == count) {
                                                document.getElementById('fc_3553874895587996-part-' + pagination_fc_3553874895587996[i]).style.display = "";
                                                document.getElementById('content_filter_' + id + 'fc_3553874895587996' + i + '_button').style.display = "none";
                                                document.getElementById('content_filter_' + id + 'fc_3553874895587996' + i).style.display = "";
                                            }
                                            else {
                                                document.getElementById('fc_3553874895587996-part-' + pagination_fc_3553874895587996[i]).style.display = "none";
                                                document.getElementById('content_filter_' + id + 'fc_3553874895587996' + i + '_button').style.display = "";
                                                document.getElementById('content_filter_' + id + 'fc_3553874895587996' + i).style.display = "none";
                                            }
                                        }

                                        document.getElementById("content_filter_prev_" + id + "fc_3553874895587996").style.display = (pagination_fc_3553874895587996_current == "0" ? 'none' : '');
                                        document.getElementById("content_filter_next_" + id + "fc_3553874895587996").style.display = (pagination_fc_3553874895587996_current == (pagination_fc_3553874895587996.length - 1) ? 'none' : '');
                                    }

                                    // onPaginationShow hook.
                                    if ($j.isFunction(onPaginationShow_fc_3553874895587996)) {
                                        onPaginationShow_fc_3553874895587996(count + 1);
                                    }
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="g-py-80">
        <div class="g-bg-gris-f2-ua h-100 g-font-ua-poppins-semibold">
            <div data-ametys-zone="zone-2" id="ametys-cms-zone-zone-2"></div>
        </div>
    </div>
{% endblock %}
