<footer>
  <div class="g-bg-black g-px-30 g-px-50--sm g-py-20">
    <div class="row justify-content-between g-mx-90--xl">
      <div class="col col-12 col-md-auto my-auto p-0 p-lg-0">
        <form action="#" method="post" class="newsletter">
          <label class="row m-0 g-color-white pb-4 pb-lg-2" for="newsletter-subscribe">Inscrivez-vous &agrave; notre newsletter pour recevoir nos actualités et nos événements &agrave; retenir :</label><div class="row m-0 w-100 w-75-md">
            <input name="email" id="newsletter-subscribe" type="text" class="flex-fill input-text input-ua w-min-auto mr-1 my-auto" />
            <script type="text/javascript">
              $j('#newsletter-subscribe').attr('placeholder', 'votre email')
            </script>
            <input value="Ok" name="email" class="col col-auto btn u-btn-bleu-blanc-ua" type="submit" />
          </div>
        </form>
      </div>
      <div class="col col-12 col-lg-auto my-auto p-0 p-lg-0 pt-4">
        <ul class="list-inline m-0">
          <li class="list-inline-item">
            <a onclick="window.open(this.href); return false;" alt="Twitter" href="https://twitter.com/UnivAngers" class="u-icon-v2 u-icon-size--sm g-bg-bleu-ua--hover g-color-white--hover g-border-bleu-ua"><i class="fa fa-twitter g-color-white"></i></a>
          </li>
          <li class="list-inline-item">
            <a onclick="window.open(this.href); return false;" alt="Facebook" href="https://www.facebook.com/univangers" class="u-icon-v2 u-icon-size--sm g-bg-bleu-ua--hover g-color-white--hover g-border-bleu-ua"><i class="fa fa-facebook g-color-white"></i></a>
          </li>
          <li class="list-inline-item">
            <a onclick="window.open(this.href); return false;" alt="Instagram" href="https://www.instagram.com/UnivAngers/" class="u-icon-v2 u-icon-size--sm g-bg-bleu-ua--hover g-color-white--hover g-border-bleu-ua"><i class="fa fa-instagram g-color-white"></i></a>
          </li>
          <li class="list-inline-item">
            <a onclick="window.open(this.href); return false;" alt="Linkedin" href="https://www.linkedin.com/school/univangers" class="u-icon-v2 u-icon-size--sm g-bg-bleu-ua--hover g-color-white--hover g-border-bleu-ua"><i class="fa fa-linkedin g-color-white"></i></a>
          </li>
          <li class="list-inline-item">
            <a onclick="window.open(this.href); return false;" alt="Youtube" href="https://www.youtube.com/user/UniversiteDAngers" class="u-icon-v2 u-icon-size--sm g-bg-bleu-ua--hover g-color-white--hover g-border-bleu-ua"><i class="fa fa-youtube g-color-white"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="g-bg-bleu-ua g-px-30 g-px-50--sm g-py-20">
    <div class="row justify-content-between g-mx-90--xl">
      <div class="col col-12 col-lg-auto my-auto px-0 py-0 p-lg-0">
        <ul class="list-unstyled text-uppercase text-white m-0">
          <li>
            <ul class="list-inline-pipe-separator p-0 my-2 my-lg-3">
              <li>
                <a href="#">Contacts</a>
              </li>
              <li>
                <a href="#">Crédits</a>
              </li>
              <li>
                <a href="#">Accessibilité : non conforme</a>
              </li>
              <li>
                <a href="#">Glossaire</a>
              </li>
              <li>
                <a href="#">Plan du site</a>
              </li>
              <li>
                <a href="#">Recrutement</a>
              </li>
            </ul>
            <ul class="list-inline-pipe-separator p-0 my-2 my-lg-3">
              <li>
                <a href="#">UA Talents</a>
              </li>
              <li>
                <a href="#">Boutique en ligne</a>
              </li>
              <li>
                <a href="#">Fondation</a>
              </li>
              <li>
                <a href="#">Photothèque</a>
              </li>
            </ul>
            <ul class="list-inline-pipe-separator p-0 my-2 my-lg-3">
              <li>
                <a href="#">Actes administratifs et infos publiques</a>
              </li>
              <li>
                <a href="#">Données personnelles</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col col-12 col-lg-auto px-0 py-0 p-lg-0 pt-4 d-flex justify-content-end">
        <a title="page bienvenue en france" href="https://www.univ-angers.fr/bienvenue-en-france" class="g-px-5 g-gray-scale"><img alt="" src="/skins/UnivAngers-v2/resources/img/bienvenue.png" class="img-fluid g-max-height-40" /></a><a title="page HRS4R" href="https://www.univ-angers.fr/HRS4R" class="g-px-5 g-gray-scale"><img alt="" src="/skins/UnivAngers-v2/resources/img/HRS4R.png" class="img-fluid g-max-height-40" /></a><a title="page HRS4R" href="https://www.plus.transformation.gouv.fr/" class="g-px-5 g-gray-scale"><img alt="" src="/skins/UnivAngers-v2/resources/img/Logo SP+.png" class="img-fluid g-max-height-40" /></a><a href="https://eugreenalliance.eu/" title="lien sortant site eu-green" target="_blank" class="g-px-5 logo-eu-green"></a>
      </div>
    </div>
  </div>
</footer>
