{% extends 'layout/master/child-content.html' %}

{% block title %}
  Université
{% endblock %}

{% block main_image %}
  <img class="img-fluid w-100" src="https://www.univ-angers.fr/_resource/Pages_Bandeau_Illustration/Illustration_marque.jpg" alt="" />
{% endblock %}

{% block fil_d_ariane %}
  <div class="ml-auto text-uppercase g-font-ua-poppins-semibold g-font-size-12 g-pt-5 g-hidden-sm-down">
    <ul class="u-list-inline">
      <li class="list-inline-item g-color-bleu-ua"><span class="g-mr-5">&gt;</span><span>Université</span></li>
    </ul>
  </div>
{% endblock %}

{% block data %}
  <div data-ametys-zone="default" id="ametys-cms-zone-default">
    <div data-ametys-zone-level="1" id="ametys-cms-zone-default-item-N100A8" class="first last">
      <div class="ametys-cms-content article view-main wrapper">
        <h1 class="art-postheader">
          <span class="content-title summary">&Agrave; propos de l'Université d'Angers</span>
        </h1>
        <p>
          Située au c&oelig;ur d'une région dynamique, l'Université d'Angers accueille 26 674 (2020) étudiants sur ses trois campus angevins (Belle-Beille, Saint-Serge, Santé) et deux campus délocalisés (à Cholet et Saumur). Des campus connectés et verts, l'<acronym
            title="Université d'Angers"><dfn title="Université d'Angers">UA</dfn></acronym> s'étant engagé dans une politique volontariste en faveur de la préservation de l'environnement.
        </p>
        <p>
          Sous l'impulsion du <a href="#" class="simple">président</a> élu et de son équipe de vice-présidents, quelque 1 800 permanents, enseignants-chercheurs et personnels administratifs ou techniques, assurent le bon fonctionnement de l'institution pluridisciplinaire dédiée
          à la recherche et à la formation.
        </p>
        <p>
          Fondée une première fois au XI<sup>e</sup> siècle, et recréée au début des années 1970, elle cultive depuis <a href="javascript:void(0);" class="simple">le go&ucirc;t de l'audace</a>, et multiplie, en lien avec son territoire, les projets innovants pour construire le monde de demain.
        </p>
        <p>
        <div class="row flex-wrap text-center justify-content-around">
          <span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_resource/Pictos/grands/bleu/picto_grand_bleu_universite_109x123.png" alt="" title="&nbsp;8 facultés, instituts et écoles" width="123" height="109" /><br style="clear: both" /> <span class="legend" style="display: inline-block; width: 123px;">&nbsp;8
              facultés, instituts et écoles</span></span><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_resource/Pictos/grands/bleu/picto_grand_bleu_groupe_personnes_109x132.png" alt="" title="1 077 enseignants" width="132" height="109" /><br style="clear: both" /> <span class="legend" style="display: inline-block; width: 132px;">1
              077 enseignants</span></span><span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/nouvel-article-34/_attribute/content/_data/pictos_batiments_108x182.png" alt="" title="161&thinsp;665 m2 de surfaces b&acirc;ties" width="182" height="108" /><br style="clear: both" />
            <span class="legend" style="display: inline-block; width: 182px;">161&thinsp;665 m2 de surfaces b&acirc;ties</span></span>
        </div>
        </p>
        <p>&nbsp;</p>
        <div class="content-richtext-end">
          <!--empty-->
        </div>
        <div class="meta"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'universite/_partial/sidemenu.html' %}
  <div class="g-bg-gris-f-ua g-shadow-block-gris-c-ua-md g-pa-25 g-mr-25--xl">
    <div data-ametys-zone="zone-1" id="ametys-cms-zone-zone-1">
      <div data-ametys-zone-level="1" id="ametys-cms-zone-zone-1-item-N101E5" class="first last">
        <div class="ametys-cms-content article view-main wrapper">
          <h1 class="art-postheader">
            <span class="content-title summary">Plaquette institutionnelle</span>
          </h1>
          <p style="text-align: left;">
            <span class="image-wrapper simple" style="display: inline-block; text-align: center"><img src="https://www.univ-angers.fr/_richText-file/ametys-internal%253Asites/www/ametys-internal%253Acontents/nouvel-article-214/_attribute/content/_data/plaquette_ua_2017_210x210mm_COUV_200x200.jpg" alt="" width="200" height="200" /></span>
          </p>
          <p style="text-align: left;">
            <a href="/_attachment/nouvel-article-214/plaquette_ua_2017_210x210mm_FR.pdf?download=true" class="download" target="_blank">Télécharger plaquette</a>
          </p>
          <p style="text-align: left;">
            <a href="/_attachment/nouvel-article-214/plaquette_ua_2017_210x210mm_EN.pdf?download=true" class="download" target="_blank">Télécharger la version anglaise</a>
          </p>
          <p style="text-align: left;">
            <a href="/_attachment/nouvel-article-214/plaquette_ua_2017_210x210mm_CHINOIS.pdf?download=true" class="download" target="_blank">Télécharger la version chinoise</a>
          </p>
          <div class="content-richtext-end">
            <!--empty-->
          </div>
          <div class="meta"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="g-py-80">
    <div class="g-bg-gris-f2-ua h-100 g-font-ua-poppins-semibold">
      <div data-ametys-zone="zone-2" id="ametys-cms-zone-zone-2"></div>
    </div>
  </div>
{% endblock %}
